.svg-001-add {
	background: url("svg/sprite.css-bc1b8bfe.svg") 86.69701568032372% 75.46741918932786% no-repeat;
}

.svg-001-add-dims {
	width: 55px;
	height: 55px;
}

.svg-002-support {
	background: url("svg/sprite.css-bc1b8bfe.svg") 67.36842105263158% 0 no-repeat;
}

.svg-002-support-dims {
	width: 512px;
	height: 512px;
}

.svg-003-plus {
	background: url("svg/sprite.css-bc1b8bfe.svg") 89.34343434343434% 75.3514344262295% no-repeat;
}

.svg-003-plus-dims {
	width: 52px;
	height: 52px;
}

.svg-004-money {
	background: url("svg/sprite.css-bc1b8bfe.svg") 98.89642916929576% 65.04320914801265% no-repeat;
}

.svg-004-money-dims {
	width: 478.86px;
	height: 478.86px;
}

.svg-005-locked {
	background: url("svg/sprite.css-bc1b8bfe.svg") 83.89057750759878% 75.58376156217882% no-repeat;
}

.svg-005-locked-dims {
	width: 58px;
	height: 58px;
}

.svg-006-stopwatch {
	background: url("svg/sprite.css-bc1b8bfe.svg") 80.93306288032454% 75.66152263374485% no-repeat;
}

.svg-006-stopwatch-dims {
	width: 60px;
	height: 60px;
}

.svg-007-team {
	background: url("svg/sprite.css-bc1b8bfe.svg") 33.268229166666664% 67.90450928381964% no-repeat;
}

.svg-007-team-dims {
	width: 496px;
	height: 496px;
}

.svg-008-court {
	background: url("svg/sprite.css-bc1b8bfe.svg") 0 100% no-repeat;
}

.svg-008-court-dims {
	width: 469px;
	height: 469px;
}

.svg-009-court-1 {
	background: url("svg/sprite.css-bc1b8bfe.svg") 100% 32.89124668435013% no-repeat;
}

.svg-009-court-1-dims {
	width: 496px;
	height: 496px;
}

.svg-010-avatar {
	background: url("svg/sprite.css-bc1b8bfe.svg") 67.36842105263158% 34.316353887399465% no-repeat;
}

.svg-010-avatar-dims {
	width: 512px;
	height: 512px;
}

.svg-011-money-1 {
	background: url("svg/sprite.css-bc1b8bfe.svg") 65.55989583333333% 67.90450928381964% no-repeat;
}

.svg-011-money-1-dims {
	width: 496px;
	height: 496px;
}

.svg-012-loan {
	background: url("svg/sprite.css-bc1b8bfe.svg") 0 0 no-repeat;
}

.svg-012-loan-dims {
	width: 512px;
	height: 512px;
}

.svg-013-couple {
	background: url("svg/sprite.css-bc1b8bfe.svg") 33.68421052631579% 0 no-repeat;
}

.svg-013-couple-dims {
	width: 512px;
	height: 512px;
}

.svg-014-house {
	background: url("svg/sprite.css-bc1b8bfe.svg") 77.89046653144017% 75.66152263374485% no-repeat;
}

.svg-014-house-dims {
	width: 60px;
	height: 60px;
}

.svg-015-sink {
	background: url("svg/sprite.css-bc1b8bfe.svg") 0 68.58673811118554% no-repeat;
}

.svg-015-sink-dims {
	width: 511px;
	height: 511px;
}

.svg-016-parcel {
	background: url("svg/sprite.css-bc1b8bfe.svg") 33.68421052631579% 34.316353887399465% no-repeat;
}

.svg-016-parcel-dims {
	width: 512px;
	height: 512px;
}

.svg-017-document {
	background: url("svg/sprite.css-bc1b8bfe.svg") 100% 0 no-repeat;
}

.svg-017-document-dims {
	width: 496px;
	height: 496px;
}

.svg-018-teamwork {
	background: url("svg/sprite.css-bc1b8bfe.svg") 0 34.316353887399465% no-repeat;
}

.svg-018-teamwork-dims {
	width: 512px;
	height: 512px;
}

.svg-019-verification-mark {
	background: url("svg/sprite.css-bc1b8bfe.svg") 58.110156644770086% 98.70113168724279% no-repeat;
}

.svg-019-verification-mark-dims {
	width: 448.8px;
	height: 448.8px;
}

.svg-020-down-arrow {
	background: url("svg/sprite.css-bc1b8bfe.svg") 71.9285338938518% 81.86666666666666% no-repeat;
}

.svg-020-down-arrow-dims {
	width: 129px;
	height: 129px;
}

.svg-agreement {
	background: url("svg/sprite.css-bc1b8bfe.svg") 76.65301944728762% 79.94791666666667% no-repeat;
}

.svg-agreement-dims {
	width: 78px;
	height: 84px;
}

.svg-bar-chart {
	background: url("svg/sprite.css-bc1b8bfe.svg") 99.99305210918114% 49.92450931051837% no-repeat;
}

.svg-bar-chart-dims {
	width: 17px;
	height: 17px;
}

.svg-close {
	background: url("svg/sprite.css-bc1b8bfe.svg") 99.99305210918114% 50.78007045797685% no-repeat;
}

.svg-close-dims {
	width: 17px;
	height: 17px;
}

.svg-magnifying-glass {
	background: url("svg/sprite.css-bc1b8bfe.svg") 29.664769133459835% 98.84095299420477% no-repeat;
}

.svg-magnifying-glass-dims {
	width: 451px;
	height: 451px;
}

.svg-menu {
	background: url("svg/sprite.css-bc1b8bfe.svg") 99.99305210918114% 51.63563160543533% no-repeat;
}

.svg-menu-dims {
	width: 17px;
	height: 17px;
}

