

{{#> layout title="Категория"  bodyClass="category" }}


<section class="section section-category" style="__display: none;">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Новости</h2>
            </div>
        </div>

        {{ setVar "itemOuterClass" "mv_22 mv_offset_1 tb_24 tb_offset_0 ds_24" }}
        {{ setVar "textField" "item-text-long" }}

        {{> components/_news blockClass = 'news--slat category'  }}
        {{!> news__item textField = item-text-long }}

    </div>
</section>


{{/layout}}

