<!DOCTYPE html>
<html>
<head>
    <title>UK Result demo - home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">

    <meta content='true' name='HandheldFriendly'>
    <meta content='width' name='MobileOptimized'>
    <meta content='yes' name='apple-mobile-web-app-capable'>

    <meta name="theme-color" content="#c2b385"> 
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#c2b385"> 
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#c2b385"> 
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
    <!-- Яндекс.Браузер -->
    <meta name="viewport" content="ya-title=#c2b385,ya-dock=fade">      

    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Plugins -->

</head>

<body class="home">


<div class="preloader" id="preloader" style="__display: flex; display: none;">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#c2b385">
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="1">
                <!--circle stroke-opacity=".6" cx="18" cy="18" r="18"/-->
                <circle stroke-opacity="1" cx="18" cy="18" r="18" stroke="#ddd"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                    <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1.25s" repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg>

    <img src="images/logo_result.png" alt="{{site.name}}">
</div>




{{> header}}




{{> overlay-search}}




<section class="section section-services bg-grey">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">6 популярных услуг</h2>
            </div>
        </div>

        <!--  v3  -->
        {{> components/services }}

        {{> components/offers }}

    </div>
</section>




<section class="section section-intro">
    <div class="container">

        <div class="row">
            <div class="mv_24 ds_12 ds_offset_12 lefted">
                <h2 class="title">О Компании</h2>
            </div>
        </div>

        {{> components/intro }}

    </div>
</section>




<section class="section section-difference">
    <div class="container">
        
        {{> components/difference }}

    </div>
</section>




<section class="section section-form section-form--request">
    <div class="container">

        <div class="row">
            <div class="mv_24 tb_16 tb_offset_8 ">
                <h2 class="title">Оставьте заявку и получите бесплатную консультацию юриста</h2>
            </div>
        </div>

    </div>


    <div class="bg-grey request">
        <div class="container">
            <div class="row ">
                
                <div class="mv_24 tb_16 tb_offset_8  ds_18 ds_offset_6 form-outer">
                    <form action="#" class="form form--request">                        

                        <div class="row">
                            <div class="mv_24 tb_12 ds_8 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="mv_24 tb_12 ds_8 field-outer">
                                <input name="your-phone" class="field--text" placeholder="Ваш телефон" type="phone">
                            </div>
                            <div class="mv_24 ds_8 field-outer">
                                <a href="#" class="btn btn-submit">Отправить заявку</a>
                            </div>
                        </div>

                    </form>
                </div>
        
            </div>

            <div class="row">
                <div class="mv_24 tb_16 tb_offset_8 ds_18 ds_offset_6 ">
                    <div class="form__notice">В течение часа с Вами свяжется наш менеджер и ответит на все интересуюшие вопросы</div>
                </div>
                <div class="request__image">
                    <img src="images/section-request-girl.png" alt="">
                </div>                  
            </div>

        </div>        
    </div>

</section>




<section class="section section-reviews">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Отзывы наших клиентов</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 reviews-outer">
                {{> components/reviews }}
            </div>
        </div>        

    </div>
</section>




<section class="section section-about">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Почему выбирают нас?</h2>
            </div>
        </div>

        {{> components/about }}
       

    </div>
</section>




<section class="section section-form section-form--consultation">
    <div class="container">

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <a href="#" class="btn btn-more">Узнайте больше</a>
            </div>                 
        </div> 

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3 ">
                <h2 class="title title-white">получите бесплатную консультацию</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <div class="form__subtitle form__notice--white">Заполните форму и наш менеджер свяжется с вами в течение 10 минут</div>
            </div>                 
        </div>  


        <div class="row consultation">
            <div class="mv_24 tb_24 ds_18 ds_offset_3 form-outer">
                    <form action="#" class="form form--consultation">                        

                        <div class="row">
                            <div class="mv_24 tb_8 ds_8 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="mv_24 tb_8 ds_8 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="phone">
                            </div>
                            <div class="mv_24 tb_8 ds_8 field-outer">
                                <a href="#" class="btn btn-submit">Отправить заявку</a>
                            </div>
                        </div>

                    </form>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <div class="form__notice form__notice--white">Нам доверяют больше <b>500 клиентов</b></div>
            </div>                 
        </div>        

 
    </div>

</section>




<section class="section section-news">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Новости отрасли</h2>
            </div>
        </div>

        {{ setVar "itemOuterClass" "mv_24 mv_offset_0 tb_12 tb_offset_0 ds_6" }}
        {{ setVar "textField" "item-text" }}        
        {{> news  blockClass = 'news--card' itemOuterClass = 'mv_24 mv_offset_0 tb_12 tb_offset_0 ds_6' }}

    </div>
</section>
        



{{> footer}}



{{> overlay}}




    <!-- <script src="js/scripts.js"> </script> -->
    <script src="js/min/scripts.min.js"> </script>    

</body>
</html>