

{{#> layout title="Главная"  bodyClass="home"}}



{{> components/_preloader }}




<section class="section section-services bg-grey">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">6 популярных услуг</h2>
            </div>
        </div>

        <!--  v3  -->
        {{> components/services }}

        {{> components/offers }}

    </div>
</section>




<section class="section section-intro">
    <div class="container">

        <div class="row">
            <div class="mv_24 ds_12 ds_offset_12 lefted">
                <h2 class="title">О Компании</h2>
            </div>
        </div>

        {{> components/intro }}

    </div>
</section>




<section class="section section-difference">
    <div class="container">
        
        {{> components/difference }}

    </div>
</section>




<section class="section section-form section-form--request">
    <div class="container">

        <div class="row">
            <div class="mv_24 tb_16 tb_offset_8 ">
                <h2 class="title">Оставьте заявку и получите бесплатную консультацию юриста</h2>
            </div>
        </div>

    </div>

    {{> components/_request }}

</section>




<section class="section section-reviews">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Отзывы наших клиентов</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 reviews-outer">
                {{> components/_reviews }}
            </div>
        </div>        

    </div>
</section>




<section class="section section-about">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Почему выбирают нас?</h2>
            </div>
        </div>

        {{> components/_about }}
       

    </div>
</section>




<section class="section section-form section-form--consultation">
    <div class="container">

        {{> components/_consultation }}

    </div>

</section>




<section class="section section-news">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Новости отрасли</h2>
            </div>
        </div>

        {{ setVar "itemOuterClass" "mv_24 mv_offset_0 tb_12 tb_offset_0 ds_6" }}
        {{ setVar "textField" "item-text" }}        
        {{> components/_news  blockClass = 'news--card' itemOuterClass = 'mv_24 mv_offset_0 tb_12 tb_offset_0 ds_6' }}

    </div>
</section>
        



{{/layout}}