

{{#> layout title="СРО"}}




<section class="section section-actions">
    <div class="container ">

        <div class="row">
            <div class="mv_24">
                <h1 class="title">Допуски СРО во Владивостоке без посредников</h1>
            </div>
        </div>

    </div>

    {{> components/_actions }}

</section>




<section class="section section-definitions">
    <div class="container ">

        {{> components/_definitions }}

    </div>    
</section>




<section class="section section-services bg-grey">
    <div class="container">

        {{> components/_services-sro }}

    </div>
</section>




<section class="section section-sertificates">
    <div class="container ">

        
        {{> components/_sertificates }}

        {{> components/_steps }}


    </div>
</section>




<section class="section section-reviews">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Отзывы наших клиентов</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 reviews-outer">

                {{> components/_reviews }}

            </div>
        </div>        

    </div>
</section>




<section class="section section-subcategories bg-grey">
    <div class="container">

        {{> components/_subcategories }}

    </div>
</section>




<section class="section section-features">

    {{> components/_features }}

</section>




<section class="section section-advantages">
    <div class="container mobile_collapse">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Преимущества вступления в СРО с Юк "результат"</h2>
            </div>
        </div>

        {{> components/_advantages }}

    </div>
</section>




<section class="section section-form section-form--sro">
    <div class="container">

        <div class="row">

            <div class="mv_24 ds_18 ds_offset_6 form-outer">
                {{> components/_form--sro }}
            </div>

        </div>

    </div>
</section>




<section class="section section-services bg-grey">
    <div class="container">

        {{> components/_services-sro }}

    </div>
</section>




{{/layout}}