

{{#> layout title="Суды" }}




<section class="section section-about section-content">

    <div class="container ">
        <div class="row">
            <div class="mv_24">
                <h1 class="title">Представительство в судах</h1>
            </div>
        </div>

        {{> components/_topinfo }}

    </div>
</section>




<section class="section section-subcategories bg-grey">
    <div class="container">

        {{> components/_subcategories }}

    </div>
</section>




<section class="section section-reviews">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Отзывы наших клиентов</h2>
            </div>
        </div>


        
        <div class="row">
            <div class="mv_24 reviews-outer">
                {{> components/_reviews }}
            </div>
        </div>

    </div>
</section>




<section class="section section-features">
    <div class="container collapse">


        {{> components/_features-sud }}

    </div>
</section>




<section class="section section-tarifs bg-grey">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Наши тарифы</h2>
            </div>
        </div>

        {{> components/_tarifs }}

    </div>
</section>




{{/layout}}

