
/* . actions
 * **********************************************************************
 *
*/

.actions-bg {
    @include v_padding(2.5*$l_h_base, 2.5*$l_h_base);
    @include set_bg_adaptive('../images/section-actions-bg', 1024, 'jpg');
    background-size: cover;
}

.actions {
    &__item {
        position: relative;
        @include v_padding ($margin_v_medium, $margin_v_medium); // padding: $margin_v  1*$l_h;
        @include h_rhytm('modal', $l_h);
        @include color_scheme('semi-dark');
        &:after {
            @media (min-width: #{map-get($devices, 'tb_')}px) {
                @include pseudoelement_left_top(100%, 0);
                width: 10000px;
                height: 100%;
                transform: none;
                background: inherit;
            }
        }
        &-title {
            @include font_size('h4');
            @include typo('heading');
            padding-bottom: 1/2*$l_h_base;
        }
        &-subtitle {
            @include font_size('fb');
            @include height_leveling('text-compressed');
        }
        &-button {
            margin-top: $margin_v_small;
            .btn {
                @media (max-width: #{map-get($devices, 'tb_')-1}px) {
                    margin: 0 auto;
                }
            }
        }
    }
}
