
/* . features
 * **********************************************************************
 *
*/

.features {
    &__item {
        // width: m($devices, 'ds_')+px;
        // width: _($devices, 'ds_')+px; // testing map-get wrapper)
        &-image {
            @include height_leveling('fullheight');
            @media (max-width: #{map-get($devices, 'ds_')-1}px) {
                height: 12*$l_h_base;
                overflow: hidden;
                img {
                    @include image_center_cover();
                }
            }
            @media (max-width: #{map-get($devices, 'tb_')-1}px) {
                height: 8*$l_h_base;
            }
            @media (min-width: #{map-get($devices, 'ds_')}px) {
                img {
                    width: auto;
                    max-width: none;
                    min-width: 50vw;
                    min-height: 100%;
                }
            }
        }
        &-content {
            @include flex(flex-start, center);
            @include height_leveling('fullheight');
            @include h_rhytm('modal', $l_h_base);
            @include v_padding(1.5*$l_h_base, 1.5*$l_h_base);
            &-inner {}
            // Updt: это он. Нужно добавить еще один элемент внутрь и его центрировать
            h3 {
                @extend .title;
                @include font_size('h2');
                margin-top: 0;
                text-align: left;
                &:after {
                    left: 0;
                    transform: translate(0%, -100%);
                }
            }
            ul {
                li {
                    margin-top: 2/5*$l_h;
                    margin-bottom: 2/5*$l_h;
                }
            }
        }
    } // features__promo - промо блок с фоном на всю ширину
    &__promo-outer {
        @include color_scheme('grey');
        @include v_padding(3*$l_h_base, 0); // @include v_rhytm('section', $l_h_base);
    }
    &__promo {
        @media (max-width: #{map-get($devices, 'tb_')-1}px) {
            flex-direction: column-reverse;
        }
        &-image {
            img {
                width: auto;
                margin: 0 auto;
                @media (max-width: #{map-get($devices, 'tb_')-1}px) {
                    // width: 75%;
                    max-width: 480px;
                }
            }
        }
        &-content {
            @include v_padding(0, 3*$l_h_base); // @include h_rhytm('modal', $l_h_base);
        }
        &-button {
            .btn {
                max-width: 280px;
                text-decoration: none;
                @media (max-width: #{map-get($devices, 'tb_')-1}px) {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (min-width: #{map-get($devices, 'ds_')}px) {
    .features {
        // разбрасываем в шахматном порядке
        &__item:nth-child(even) {
            .features__item-image {
                float: left;
                img {
                    float: left;
                }
            }
            > .row-flex {
                flex-direction: row-reverse;
            }
        }
        &__item:nth-child(odd) {
            .features__item-image {
                float: right;
                img {
                    float: right;
                }
            }
        }
    }
}

/* media end */
