
.subcategories {

    // margin-bottom: -$margin_v_small; 
    @include v_rhytm('block-card', $l_h);   
    // width: 100%;

    &__item-outer {
        @include v_rhytm('card', $l_h);
    }

    &__item {

        @extend %transition;
        @include flex(flex-start, center);       
        @include color_scheme('card');       
        @include height_leveling('fullheight');
        min-height: 130px; // min-height: 2*$l_h;

        &-image {

            $subcategories_item_image_metric: 65px;
            $subcategories_item_image_metric_ds: 80px;

            padding: $margin_v_small $margin_v_small;
            width: calc( #{2*$margin_v} + #{$subcategories_item_image_metric});

            @media (min-width: #{map-get($devices, 'ds_')}px) {
                padding: $margin_v_small $margin_v;
                width: calc( #{2*$margin_v} + #{$subcategories_item_image_metric_ds});
            }

            img {
                box-sizing: content-box;
                margin: 0 auto; 
                width: auto;
                max-width: $subcategories_item_image_metric;
                height: auto;

                @media (min-width: #{map-get($devices, 'ds_')}px) {
                    max-width: $subcategories_item_image_metric_ds;
                }                  
            }
        }
        &-title {
            @include font_size('fb');
            @include height_leveling('text');
            @include h_rhytm('card', $fb);
            @include typo('card-title');
            text-align: left;
            color: inherit;
        }
    }

    &__item:hover {
        @extend %shadow_big;
    }    
}