@charset "UTF-8";
/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *  2. Menu main
 *  3. Slider
 *  4. 

 *  14.
 *
 */
/* 1. Structure elements */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
.section {
  width: 100%;
  float: left;
  width: 100%;
  clear: both; }

.container {
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.row-line {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0; }

.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

.row > div {
  float: left; }

.row-line > div {
  float: none;
  display: inline-block; }

.row-line.middle > div {
  vertical-align: middle; }

.row-line.top > div {
  vertical-align: top; }

.row-line.bottom > div {
  vertical-align: bottom; }

.row-line.baseline > div {
  vertical-align: baseline; }

.row-line.row-reverse {
  direction: rtl; }

.row-line.row-reverse > div {
  direction: ltr; }

/* 1.1.3 flex */
.row-flexbox {
  display: flex;
  margin-left: -10px;
  margin-right: -10px; }

[class*=row-flex].middle {
  align-items: center; }

[class*=row-flex].top {
  align-items: flex-start; }

[class*=row-flex].bottom {
  align-items: flex-end; }

[class*=row-flex].baseline {
  align-items: baseline; }

[class*=row-flex].stretch {
  align-items: stretch; }

@media (min-width: 320px) {
  .mv_offset_0 {
    margin-left: 0; }
  .mv_1 {
    width: 4.16667%; }
  .mv_offset_1 {
    margin-left: 4.16667%; }
  .mv_2 {
    width: 8.33333%; }
  .mv_offset_2 {
    margin-left: 8.33333%; }
  .mv_3 {
    width: 12.5%; }
  .mv_offset_3 {
    margin-left: 12.5%; }
  .mv_4 {
    width: 16.66667%; }
  .mv_offset_4 {
    margin-left: 16.66667%; }
  .mv_5 {
    width: 20.83333%; }
  .mv_offset_5 {
    margin-left: 20.83333%; }
  .mv_6 {
    width: 25%; }
  .mv_offset_6 {
    margin-left: 25%; }
  .mv_7 {
    width: 29.16667%; }
  .mv_offset_7 {
    margin-left: 29.16667%; }
  .mv_8 {
    width: 33.33333%; }
  .mv_offset_8 {
    margin-left: 33.33333%; }
  .mv_9 {
    width: 37.5%; }
  .mv_offset_9 {
    margin-left: 37.5%; }
  .mv_10 {
    width: 41.66667%; }
  .mv_offset_10 {
    margin-left: 41.66667%; }
  .mv_11 {
    width: 45.83333%; }
  .mv_offset_11 {
    margin-left: 45.83333%; }
  .mv_12 {
    width: 50%; }
  .mv_offset_12 {
    margin-left: 50%; }
  .mv_13 {
    width: 54.16667%; }
  .mv_offset_13 {
    margin-left: 54.16667%; }
  .mv_14 {
    width: 58.33333%; }
  .mv_offset_14 {
    margin-left: 58.33333%; }
  .mv_15 {
    width: 62.5%; }
  .mv_offset_15 {
    margin-left: 62.5%; }
  .mv_16 {
    width: 66.66667%; }
  .mv_offset_16 {
    margin-left: 66.66667%; }
  .mv_17 {
    width: 70.83333%; }
  .mv_offset_17 {
    margin-left: 70.83333%; }
  .mv_18 {
    width: 75%; }
  .mv_offset_18 {
    margin-left: 75%; }
  .mv_19 {
    width: 79.16667%; }
  .mv_offset_19 {
    margin-left: 79.16667%; }
  .mv_20 {
    width: 83.33333%; }
  .mv_offset_20 {
    margin-left: 83.33333%; }
  .mv_21 {
    width: 87.5%; }
  .mv_offset_21 {
    margin-left: 87.5%; }
  .mv_22 {
    width: 91.66667%; }
  .mv_offset_22 {
    margin-left: 91.66667%; }
  .mv_23 {
    width: 95.83333%; }
  .mv_offset_23 {
    margin-left: 95.83333%; }
  .mv_24 {
    width: 100%; }
  .mv_offset_24 {
    margin-left: 100%; } }

@media (min-width: 480px) {
  .mh_offset_0 {
    margin-left: 0; }
  .mh_1 {
    width: 4.16667%; }
  .mh_offset_1 {
    margin-left: 4.16667%; }
  .mh_2 {
    width: 8.33333%; }
  .mh_offset_2 {
    margin-left: 8.33333%; }
  .mh_3 {
    width: 12.5%; }
  .mh_offset_3 {
    margin-left: 12.5%; }
  .mh_4 {
    width: 16.66667%; }
  .mh_offset_4 {
    margin-left: 16.66667%; }
  .mh_5 {
    width: 20.83333%; }
  .mh_offset_5 {
    margin-left: 20.83333%; }
  .mh_6 {
    width: 25%; }
  .mh_offset_6 {
    margin-left: 25%; }
  .mh_7 {
    width: 29.16667%; }
  .mh_offset_7 {
    margin-left: 29.16667%; }
  .mh_8 {
    width: 33.33333%; }
  .mh_offset_8 {
    margin-left: 33.33333%; }
  .mh_9 {
    width: 37.5%; }
  .mh_offset_9 {
    margin-left: 37.5%; }
  .mh_10 {
    width: 41.66667%; }
  .mh_offset_10 {
    margin-left: 41.66667%; }
  .mh_11 {
    width: 45.83333%; }
  .mh_offset_11 {
    margin-left: 45.83333%; }
  .mh_12 {
    width: 50%; }
  .mh_offset_12 {
    margin-left: 50%; }
  .mh_13 {
    width: 54.16667%; }
  .mh_offset_13 {
    margin-left: 54.16667%; }
  .mh_14 {
    width: 58.33333%; }
  .mh_offset_14 {
    margin-left: 58.33333%; }
  .mh_15 {
    width: 62.5%; }
  .mh_offset_15 {
    margin-left: 62.5%; }
  .mh_16 {
    width: 66.66667%; }
  .mh_offset_16 {
    margin-left: 66.66667%; }
  .mh_17 {
    width: 70.83333%; }
  .mh_offset_17 {
    margin-left: 70.83333%; }
  .mh_18 {
    width: 75%; }
  .mh_offset_18 {
    margin-left: 75%; }
  .mh_19 {
    width: 79.16667%; }
  .mh_offset_19 {
    margin-left: 79.16667%; }
  .mh_20 {
    width: 83.33333%; }
  .mh_offset_20 {
    margin-left: 83.33333%; }
  .mh_21 {
    width: 87.5%; }
  .mh_offset_21 {
    margin-left: 87.5%; }
  .mh_22 {
    width: 91.66667%; }
  .mh_offset_22 {
    margin-left: 91.66667%; }
  .mh_23 {
    width: 95.83333%; }
  .mh_offset_23 {
    margin-left: 95.83333%; }
  .mh_24 {
    width: 100%; }
  .mh_offset_24 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .tb_offset_0 {
    margin-left: 0; }
  .tb_1 {
    width: 4.16667%; }
  .tb_offset_1 {
    margin-left: 4.16667%; }
  .tb_2 {
    width: 8.33333%; }
  .tb_offset_2 {
    margin-left: 8.33333%; }
  .tb_3 {
    width: 12.5%; }
  .tb_offset_3 {
    margin-left: 12.5%; }
  .tb_4 {
    width: 16.66667%; }
  .tb_offset_4 {
    margin-left: 16.66667%; }
  .tb_5 {
    width: 20.83333%; }
  .tb_offset_5 {
    margin-left: 20.83333%; }
  .tb_6 {
    width: 25%; }
  .tb_offset_6 {
    margin-left: 25%; }
  .tb_7 {
    width: 29.16667%; }
  .tb_offset_7 {
    margin-left: 29.16667%; }
  .tb_8 {
    width: 33.33333%; }
  .tb_offset_8 {
    margin-left: 33.33333%; }
  .tb_9 {
    width: 37.5%; }
  .tb_offset_9 {
    margin-left: 37.5%; }
  .tb_10 {
    width: 41.66667%; }
  .tb_offset_10 {
    margin-left: 41.66667%; }
  .tb_11 {
    width: 45.83333%; }
  .tb_offset_11 {
    margin-left: 45.83333%; }
  .tb_12 {
    width: 50%; }
  .tb_offset_12 {
    margin-left: 50%; }
  .tb_13 {
    width: 54.16667%; }
  .tb_offset_13 {
    margin-left: 54.16667%; }
  .tb_14 {
    width: 58.33333%; }
  .tb_offset_14 {
    margin-left: 58.33333%; }
  .tb_15 {
    width: 62.5%; }
  .tb_offset_15 {
    margin-left: 62.5%; }
  .tb_16 {
    width: 66.66667%; }
  .tb_offset_16 {
    margin-left: 66.66667%; }
  .tb_17 {
    width: 70.83333%; }
  .tb_offset_17 {
    margin-left: 70.83333%; }
  .tb_18 {
    width: 75%; }
  .tb_offset_18 {
    margin-left: 75%; }
  .tb_19 {
    width: 79.16667%; }
  .tb_offset_19 {
    margin-left: 79.16667%; }
  .tb_20 {
    width: 83.33333%; }
  .tb_offset_20 {
    margin-left: 83.33333%; }
  .tb_21 {
    width: 87.5%; }
  .tb_offset_21 {
    margin-left: 87.5%; }
  .tb_22 {
    width: 91.66667%; }
  .tb_offset_22 {
    margin-left: 91.66667%; }
  .tb_23 {
    width: 95.83333%; }
  .tb_offset_23 {
    margin-left: 95.83333%; }
  .tb_24 {
    width: 100%; }
  .tb_offset_24 {
    margin-left: 100%; } }

@media (min-width: 1024px) {
  .ds_offset_0 {
    margin-left: 0; }
  .ds_1 {
    width: 4.16667%; }
  .ds_offset_1 {
    margin-left: 4.16667%; }
  .ds_2 {
    width: 8.33333%; }
  .ds_offset_2 {
    margin-left: 8.33333%; }
  .ds_3 {
    width: 12.5%; }
  .ds_offset_3 {
    margin-left: 12.5%; }
  .ds_4 {
    width: 16.66667%; }
  .ds_offset_4 {
    margin-left: 16.66667%; }
  .ds_5 {
    width: 20.83333%; }
  .ds_offset_5 {
    margin-left: 20.83333%; }
  .ds_6 {
    width: 25%; }
  .ds_offset_6 {
    margin-left: 25%; }
  .ds_7 {
    width: 29.16667%; }
  .ds_offset_7 {
    margin-left: 29.16667%; }
  .ds_8 {
    width: 33.33333%; }
  .ds_offset_8 {
    margin-left: 33.33333%; }
  .ds_9 {
    width: 37.5%; }
  .ds_offset_9 {
    margin-left: 37.5%; }
  .ds_10 {
    width: 41.66667%; }
  .ds_offset_10 {
    margin-left: 41.66667%; }
  .ds_11 {
    width: 45.83333%; }
  .ds_offset_11 {
    margin-left: 45.83333%; }
  .ds_12 {
    width: 50%; }
  .ds_offset_12 {
    margin-left: 50%; }
  .ds_13 {
    width: 54.16667%; }
  .ds_offset_13 {
    margin-left: 54.16667%; }
  .ds_14 {
    width: 58.33333%; }
  .ds_offset_14 {
    margin-left: 58.33333%; }
  .ds_15 {
    width: 62.5%; }
  .ds_offset_15 {
    margin-left: 62.5%; }
  .ds_16 {
    width: 66.66667%; }
  .ds_offset_16 {
    margin-left: 66.66667%; }
  .ds_17 {
    width: 70.83333%; }
  .ds_offset_17 {
    margin-left: 70.83333%; }
  .ds_18 {
    width: 75%; }
  .ds_offset_18 {
    margin-left: 75%; }
  .ds_19 {
    width: 79.16667%; }
  .ds_offset_19 {
    margin-left: 79.16667%; }
  .ds_20 {
    width: 83.33333%; }
  .ds_offset_20 {
    margin-left: 83.33333%; }
  .ds_21 {
    width: 87.5%; }
  .ds_offset_21 {
    margin-left: 87.5%; }
  .ds_22 {
    width: 91.66667%; }
  .ds_offset_22 {
    margin-left: 91.66667%; }
  .ds_23 {
    width: 95.83333%; }
  .ds_offset_23 {
    margin-left: 95.83333%; }
  .ds_24 {
    width: 100%; }
  .ds_offset_24 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .hd_offset_0 {
    margin-left: 0; }
  .hd_1 {
    width: 4.16667%; }
  .hd_offset_1 {
    margin-left: 4.16667%; }
  .hd_2 {
    width: 8.33333%; }
  .hd_offset_2 {
    margin-left: 8.33333%; }
  .hd_3 {
    width: 12.5%; }
  .hd_offset_3 {
    margin-left: 12.5%; }
  .hd_4 {
    width: 16.66667%; }
  .hd_offset_4 {
    margin-left: 16.66667%; }
  .hd_5 {
    width: 20.83333%; }
  .hd_offset_5 {
    margin-left: 20.83333%; }
  .hd_6 {
    width: 25%; }
  .hd_offset_6 {
    margin-left: 25%; }
  .hd_7 {
    width: 29.16667%; }
  .hd_offset_7 {
    margin-left: 29.16667%; }
  .hd_8 {
    width: 33.33333%; }
  .hd_offset_8 {
    margin-left: 33.33333%; }
  .hd_9 {
    width: 37.5%; }
  .hd_offset_9 {
    margin-left: 37.5%; }
  .hd_10 {
    width: 41.66667%; }
  .hd_offset_10 {
    margin-left: 41.66667%; }
  .hd_11 {
    width: 45.83333%; }
  .hd_offset_11 {
    margin-left: 45.83333%; }
  .hd_12 {
    width: 50%; }
  .hd_offset_12 {
    margin-left: 50%; }
  .hd_13 {
    width: 54.16667%; }
  .hd_offset_13 {
    margin-left: 54.16667%; }
  .hd_14 {
    width: 58.33333%; }
  .hd_offset_14 {
    margin-left: 58.33333%; }
  .hd_15 {
    width: 62.5%; }
  .hd_offset_15 {
    margin-left: 62.5%; }
  .hd_16 {
    width: 66.66667%; }
  .hd_offset_16 {
    margin-left: 66.66667%; }
  .hd_17 {
    width: 70.83333%; }
  .hd_offset_17 {
    margin-left: 70.83333%; }
  .hd_18 {
    width: 75%; }
  .hd_offset_18 {
    margin-left: 75%; }
  .hd_19 {
    width: 79.16667%; }
  .hd_offset_19 {
    margin-left: 79.16667%; }
  .hd_20 {
    width: 83.33333%; }
  .hd_offset_20 {
    margin-left: 83.33333%; }
  .hd_21 {
    width: 87.5%; }
  .hd_offset_21 {
    margin-left: 87.5%; }
  .hd_22 {
    width: 91.66667%; }
  .hd_offset_22 {
    margin-left: 91.66667%; }
  .hd_23 {
    width: 95.83333%; }
  .hd_offset_23 {
    margin-left: 95.83333%; }
  .hd_24 {
    width: 100%; }
  .hd_offset_24 {
    margin-left: 100%; } }

[class*="hd_"],
[class*="ds_"],
[class*="tb_"],
[class*="mh_"],
[class*="mv_"] {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  min-height: 1px; }

/* 4. Вспомогательные структурные элементы */
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
  box-sizing: border-box; }

.container:after,
.row:after {
  clear: both; }

/* 4. Утилиты адаптации  */
/* Скрываем на больших, на малых показываем */
@media (min-width: 320px) {
  body .mv_hidden {
    display: none; } }

@media (max-width: 319px) {
  body .mv_visible {
    display: none; } }

@media (min-width: 480px) {
  body .mh_hidden {
    display: none; } }

@media (max-width: 479px) {
  body .mh_visible {
    display: none; } }

@media (min-width: 768px) {
  body .tb_hidden {
    display: none; } }

@media (max-width: 767px) {
  body .tb_visible {
    display: none; } }

@media (min-width: 1024px) {
  body .ds_hidden {
    display: none; } }

@media (max-width: 1023px) {
  body .ds_visible {
    display: none; } }

@media (min-width: 1200px) {
  body .hd_hidden {
    display: none; } }

@media (max-width: 1199px) {
  body .hd_visible {
    display: none; } }

/* 5. Text utulites  */
.lefted {
  text-align: left; }

.righted {
  text-align: right; }

.centered {
  text-align: center; }

.justifyed {
  text-align: justify; }

@media (min-width: 320px) {
  .mv_lefted {
    text-align: left; }
  .mv_righted {
    text-align: right; }
  .mv_centered {
    text-align: center; }
  .mv_justifyed {
    text-align: justify; } }

@media (min-width: 480px) {
  .mh_lefted {
    text-align: left; }
  .mh_righted {
    text-align: right; }
  .mh_centered {
    text-align: center; }
  .mh_justifyed {
    text-align: justify; } }

@media (min-width: 768px) {
  .tb_lefted {
    text-align: left; }
  .tb_righted {
    text-align: right; }
  .tb_centered {
    text-align: center; }
  .tb_justifyed {
    text-align: justify; } }

@media (min-width: 1024px) {
  .ds_lefted {
    text-align: left; }
  .ds_righted {
    text-align: right; }
  .ds_centered {
    text-align: center; }
  .ds_justifyed {
    text-align: justify; } }

@media (min-width: 1200px) {
  .hd_lefted {
    text-align: left; }
  .hd_righted {
    text-align: right; }
  .hd_centered {
    text-align: center; }
  .hd_justifyed {
    text-align: justify; } }

@font-face {
  font-family: "GothamPro";
  font-weight: 400;
  src: url("../fonts/dist/GothamPro.eot?") format("eot"), url("../fonts/dist/GothamPro.woff2") format("woff2"), url("../fonts/dist/GothamPro.woff") format("woff"), url("../fonts/dist/GothamPro.ttf") format("truetype"), url("../fonts/dist/GothamPro.svg#GothamPro") format("svg"); }

@font-face {
  font-family: "GothamPro";
  font-weight: 700;
  src: url("../fonts/dist/GothamPro-Bold.eot?") format("eot"), url("../fonts/dist/GothamPro-Bold.woff2") format("woff2"), url("../fonts/dist/GothamPro-Bold.woff") format("woff"), url("../fonts/dist/GothamPro-Bold.ttf") format("truetype"), url("../fonts/dist/GothamPro-Bold.svg#GothamPro") format("svg"); }

@font-face {
  font-family: "themify";
  src: url("../fonts/themify/themify.eot");
  src: url("../fonts/themify/themify.eot?#iefix") format("eot"), url("../fonts/themify/themify.woff2") format("woff2"), url("../fonts/themify/themify.woff") format("woff"), url("../fonts/themify/themify.ttf") format("truetype"), url("../fonts/themify/themify.svg#themify") format("svg"); }

.themify:before {
  font-family: "themify";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.themify-angle-right:before {
  content: "\EA01"; }

.themify-bar-chart:before {
  content: "\EA02"; }

.themify-close:before {
  content: "\EA03"; }

.themify-comment-alt:before {
  content: "\EA04"; }

.themify-comments-smiley:before {
  content: "\EA05"; }

.themify-comments:before {
  content: "\EA06"; }

.themify-credit-card:before {
  content: "\EA07"; }

.themify-email:before {
  content: "\EA08"; }

.themify-gift:before {
  content: "\EA09"; }

.themify-headphone-alt:before {
  content: "\EA0A"; }

.themify-heart:before {
  content: "\EA0B"; }

.themify-layout-column3-alt:before {
  content: "\EA0C"; }

.themify-layout-grid2:before {
  content: "\EA0D"; }

.themify-layout-grid3-alt:before {
  content: "\EA0E"; }

.themify-menu:before {
  content: "\EA0F"; }

.themify-minus:before {
  content: "\EA10"; }

.themify-plus:before {
  content: "\EA11"; }

.themify-search:before {
  content: "\EA12"; }

.themify-shopping-cart-full:before {
  content: "\EA13"; }

.themify-shopping-cart:before {
  content: "\EA14"; }

.themify-split-v:before {
  content: "\EA15"; }

.themify-star:before {
  content: "\EA16"; }

.themify-truck:before {
  content: "\EA17"; }

.themify-user:before {
  content: "\EA18"; }

.themify-view-list:before {
  content: "\EA19"; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
    Flaticon icon font: Flaticon
    Creation date: 19/05/2019 11:05
    */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/dist/flaticons/Flaticon.eot");
  src: url("../fonts/dist/flaticons/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/dist/flaticons/Flaticon.woff2") format("woff2"), url("../fonts/dist/flaticons/Flaticon.woff") format("woff"), url("../fonts/dist/flaticons/Flaticon.ttf") format("truetype"), url("../fonts/dist/flaticons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/dist/flaticons/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before, body .owl-prev:before,
body .owl-next:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-add:before {
  content: "\f100"; }

.flaticon-support:before {
  content: "\f101"; }

.flaticon-plus:before {
  content: "\f102"; }

.flaticon-money:before {
  content: "\f103"; }

.flaticon-locked:before {
  content: "\f104"; }

.flaticon-stopwatch:before {
  content: "\f105"; }

.flaticon-team:before {
  content: "\f106"; }

.flaticon-court:before {
  content: "\f107"; }

.flaticon-court-1:before {
  content: "\f108"; }

.flaticon-avatar:before {
  content: "\f109"; }

.flaticon-money-1:before {
  content: "\f10a"; }

.flaticon-loan:before {
  content: "\f10b"; }

.flaticon-couple:before {
  content: "\f10c"; }

.flaticon-house:before {
  content: "\f10d"; }

.flaticon-sink:before {
  content: "\f10e"; }

.flaticon-parcel:before {
  content: "\f10f"; }

.flaticon-document:before {
  content: "\f110"; }

.flaticon-teamwork:before {
  content: "\f111"; }

.flaticon-verification-mark:before {
  content: "\f112"; }

.flaticon-down-arrow:before, body .owl-prev:before,
body .owl-next:before {
  content: "\f113"; }

/*
 * .Base
 *
*/
/*
 * Variables
*/
/* Colors */
/* Fonts */
/* Z-index */
/* Layout Metrics */
/* Animation */
/*
 * hexagon( ширина, цвет бг, бордер-ширина, бордер-цвет ){}
*/
/*
 * Display 'flex', and set justify and aligment
 * Call: // flex(space-between, center);
*/
/*
 * Set adaptive font-size
 * Call: // font_size('h3');  ||  font_size(h3);  - протетстить
*/
/*
 * Set adaptive vertical paddings
 * Call: // v_padding(2*$l_h, $l_h)
*/
/*
 * Extends
*/
.subcategories__item, .features__item-image, .features__item-content {
  position: relative;
  height: 100%; }

.difference__list-item {
  box-shadow: 0 0 73px 0px rgba(0, 0, 0, 0.1); }

.services__item:hover, .offers__item:hover, .subcategories__item:hover {
  box-shadow: 0 0 95px 9px rgba(0, 0, 0, 0.1); }

a, .offers__item, .offers__item-title, .reviews__item-image, .reviews__item-image:before, .reviews__item-image img, .subcategories__item, body .owl-prev:before,
body .owl-next:before {
  transition: all 0.4s; }

/*
 * Base
*/
html {
  font-size: 13px;
  min-height: 100%; }

body {
  font-size: inherit;
  line-height: 1.5625em;
  font-family: "Roboto", Verdana, Arial, sans-serif;
  min-height: 100%;
  margin: 0;
  font-weight: 400; }

* {
  box-sizing: border-box;
  line-height: inherit; }

a {
  text-decoration: none;
  color: #c2b385; }
  a:hover {
    color: #aa9555; }

.content a {
  text-decoration: underline; }

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin: 1.5625rem 0;
  line-height: 1.2em;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 400;
  color: #000000; }

h1, .h1 {
  font-size: 1.61051rem; }
  @media (min-width: 1024px) {
    h1, .h1 {
      font-size: 1.88356rem; } }

h2, .h2 {
  font-size: 1.4641rem; }
  @media (min-width: 1024px) {
    h2, .h2 {
      font-size: 1.65952rem; } }

h3, .h3 {
  font-size: 1.331rem; }
  @media (min-width: 1024px) {
    h3, .h3 {
      font-size: 1.46214rem; } }

h4, .h4 {
  font-size: 1.21rem; }
  @media (min-width: 1024px) {
    h4, .h4 {
      font-size: 1.28822rem; } }

h5, .h5 {
  font-size: 1.1rem; }
  @media (min-width: 1024px) {
    h5, .h5 {
      font-size: 1.135rem; } }

p {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit; }

.content > p:first-child {
  margin-top: 0px; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.content ul, ol {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
  padding-left: 2em; }

.content ul {
  list-style-type: disc;
  list-style-type: none; }
  .content ul li {
    position: relative;
    padding-left: 1.25em; }
    .content ul li:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin-top: calc(1/2*1.5625em - 1/2*6px);
      width: 6px;
      height: 6px;
      background-color: #c2b385;
      border-radius: 50%; }

.content ol {
  counter-reset: list 0; }

/* Инициируем счетчик */
.content ol li:before {
  list-style-type: none;
  counter-increment: list;
  /* Увеличиваем значение счетчика */
  content: counter(list) ". ";
  /* Выводим число */
  width: 1em;
  margin-left: -1em; }

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

a > img:hover {
  opacity: 0.85; }

.content img {
  width: auto; }

strong {
  font-weight: 500; }

b {
  font-weight: bold; }

.content table tr th, .content table tr td {
  width: 50%; }

.content table tr th {
  padding-right: 30px; }

.content table tr td {
  padding-right: 30px; }

/* .title {
    @include font_size('h1');
    position: relative;
    font-weight: bold;
    letter-spacing: $l_s;
    text-align: center;
    text-transform: uppercase;

    line-height: $l_h_head;
    75 + 22 + 75
    50 + 18  + 36 + 68
    padding: 0.5 * $l_h_base  0;
    margin: 2 * $l_h_base  0;

    @media (min-width: 1024px) {
    }       

    &:after {
        @include pseudoelement_left_top(50%, 100%);
        transform: translate(-50%, -100%);
        width: 2.25 * $l_h_base;
        height: 2px;
        background-color: $accent;

        @media (min-width: 1024px) {

            width: 4 * $l_h_base;
            height: 4px;            
        }          
    }

} */
.title, .features__item-content h3 {
  margin: -0px;
  font-size: 1.61051rem;
  line-height: 1.375em;
  font-weight: bold;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  text-align: center;
  margin-top: -1.04167rem;
  margin-bottom: 2.08333rem; }
  @media (min-width: 1024px) {
    .title, .features__item-content h3 {
      font-size: 1.88356rem; } }
  @media (min-width: 768px) {
    .title, .features__item-content h3 {
      margin-top: -1.5625rem;
      margin-bottom: 3.125rem; } }
  @media (min-width: 1024px) {
    .title, .features__item-content h3 {
      margin-top: -1.5625rem;
      margin-bottom: 3.125rem; } }
  .title:after, .features__item-content h3:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 3.51563rem;
    height: 2px;
    background-color: #c2b385; }
    @media (min-width: 1024px) {
      .title:after, .features__item-content h3:after {
        width: 6.25rem;
        height: 4px; } }

.title-white {
  color: #ffffff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

p.rquote,
.about p.rquote,
.content p.rquote {
  padding: 1.95313em 2.34375em;
  border: 2px solid #c2b385;
  background-color: #ffffff; }
  @media (min-width: 1024px) {
    p.rquote,
    .about p.rquote,
    .content p.rquote {
      padding: 2.73438em 2.65625em; } }

.bg-grey {
  background-color: #f5f5f5; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.btn-readmore {
  font-size: 1rem;
  height: 36px;
  background-color: #ffffff;
  color: #c2b385;
  border: 2px solid #c2b385; }
  @media (min-width: 1024px) {
    .btn-readmore {
      height: 48px; } }
  .btn-readmore:hover, .btn-readmore:active {
    background-color: #c2b385;
    color: #ffffff; }

.btn-order {
  font-size: 1.21rem;
  height: 36px;
  font-weight: 500;
  text-align: center;
  background-color: #ffffff;
  color: #c2b385;
  border: 2px solid #c2b385; }
  @media (min-width: 1024px) {
    .btn-order {
      font-size: 1.28822rem; } }
  @media (min-width: 1024px) {
    .btn-order {
      height: 48px; } }
  .btn-order:hover, .btn-order:active {
    background-color: #c2b385;
    color: #ffffff; }

.btn-submit {
  font-size: 1.21rem;
  line-height: 1.5625em;
  height: 40px;
  background-color: #ffffff;
  color: #c2b385;
  border: 2px solid #c2b385; }
  @media (min-width: 1024px) {
    .btn-submit {
      font-size: 1.28822rem; } }
  @media (min-width: 1024px) {
    .btn-submit {
      height: 54px; } }
  .btn-submit:hover, .btn-submit:active {
    background-color: #c2b385;
    color: #ffffff; }

.btn-more {
  font-size: 1.1rem;
  height: 24px;
  font-family: "GothamPro", Verdana, Arial, sans-serif;
  background-color: #c2b385;
  color: #ffffff; }
  @media (min-width: 1024px) {
    .btn-more {
      font-size: 1.135rem; } }
  @media (min-width: 1024px) {
    .btn-more {
      height: 32px; } }
  .btn-more:hover, .btn-more:active {
    background-color: #353535;
    color: #ffffff; }

@media (min-width: 768px) {
  html {
    font-size: 14px; } }

/* media end*/
@media (min-width: 1024px) {
  html {
    font-size: 16px; } }

/* media end*/
/* . menu-main
 * **********************************************************************
 *
*/
/* 
.menu-main-outer{
    background-color: ;
}
.menu-control{
    display: none;
}
.menu-main{
}
    .menu-main li{
        // display: inline-block;
        // float: left;
        
        &:last-child{
            margin-right: 0;
        }
        a{
            display: block;
            font-size: ;
            color: ;

            &:hover{
                color: ;
            }
        }
    }


@media (min-width: 1024px) {

.menu-main{
}
    .menu-main li{

    }
    
} // media end
 */
.services__item {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0; }
  .services__item:hover {
    border: 2px solid #c2b385; }
  @media (min-width: 768px) {
    .services__item {
      width: 100%; } }
  @media (min-width: 1024px) {
    .services__item {
      margin-bottom: 40px;
      width: 100%;
      height: 190px; } }
  .services__item-icon {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 70px;
    height: 70px; }
    @media (min-width: 1024px) {
      .services__item-icon {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 84px;
        height: 84px; } }
    .services__item-icon img {
      margin: auto;
      width: auto; }
  .services__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.2em;
    padding-top: 0.18125em;
    padding-bottom: 0.18125em;
    height: 2.7625em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-align: center;
    background-color: #e8e7e9; }
    .services__item-title span {
      max-height: 2.4em;
      display: block; }

.offers__item {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-color: #f0f0f0;
  color: #000000;
  border: 2px solid #f0f0f0; }
  .offers__item:hover {
    border-color: #c2b385; }
  .offers__item:hover .offers__item-title {
    background-color: #c2b385;
    color: #ffffff; }
  .offers__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0; }
    @media (min-width: 1024px) {
      .offers__item-icon {
        padding: 40px 0; } }
    .offers__item-icon img {
      width: auto;
      height: 80px; }
  .offers__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5625em;
    font-weight: 500;
    text-align: center;
    height: 42px;
    overflow: hidden;
    background-color: #f0f0f0; }
    @media (min-width: 1024px) {
      .offers__item-title {
        height: 48px; } }
  .offers__item-button {
    padding-left: 0;
    padding-right: 0; }
    .offers__item-button a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      background-color: #c2b385;
      color: #ffffff;
      position: relative;
      width: 100%;
      height: 40px; }
      .offers__item-button a.open {
        background-color: #ffffff;
        color: #c2b385; }
      .offers__item-button a span {
        position: relative; }
        .offers__item-button a span:after {
          content: "";
          position: absolute;
          left: 100%;
          top: 50%;
          transform: scaleY(0.75) translateY(-50%);
          display: inline-block;
          margin-left: 0.25em;
          content: "▼";
          color: inherit;
          font-size: 0.5rem; }
  .offers__item-list {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px; }
    @media (min-width: 1024px) {
      .offers__item-list {
        padding-left: 20px;
        padding-right: 20px; } }
    @media (max-width: 767px) {
      .offers__item-list {
        height: 0px;
        overflow: hidden; }
        .offers__item-list.open {
          height: auto; } }
    .offers__item-list li {
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: calc(2rem + 4px); }
      @media (min-width: 1024px) {
        .offers__item-list li {
          padding-top: 12px;
          padding-bottom: 12px; } }
      .offers__item-list li img {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        max-width: 2rem;
        max-height: 2rem; }
      .offers__item-list li a {
        font-size: 0.90909rem;
        line-height: 1.5625em;
        color: #000000; }
        @media (min-width: 1024px) {
          .offers__item-list li a {
            font-size: 0.88106rem; } }
        .offers__item-list li a:hover {
          color: #c2b385; }

/* . news
 * **********************************************************************
 *
*/
.news__item-image {
  background-color: #c2b385;
  color: #ffffff;
  position: relative;
  display: block;
  height: 9.375rem;
  overflow: hidden; }
  .news__item-image img {
    width: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.news__item-content {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f5f5f5;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 1px; }
  @media (min-width: 1024px) {
    .news__item-content {
      padding-left: 20px;
      padding-right: 20px; } }

.news__item-title {
  font-size: 1rem;
  line-height: 1.2em;
  padding-top: 0.18125em;
  padding-bottom: 0.18125em;
  height: 2.7625em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000; }
  .news__item-title a {
    color: inherit; }
  .news__item-title:hover {
    color: #c2b385; }

.news__item-text {
  font-size: 0.90909rem;
  line-height: 1.375em;
  margin-top: 0.78125rem;
  margin-bottom: 0.78125rem;
  word-wrap: break-word;
  min-height: 4.125em; }
  @media (min-width: 1024px) {
    .news__item-text {
      font-size: 0.88106rem; } }

.news__item-date {
  font-size: 0.80096rem;
  line-height: 1.5625em;
  margin-top: 0.78125em;
  margin-bottom: 0.78125em;
  display: block; }
  @media (min-width: 1024px) {
    .news__item-date {
      font-size: 0.77626rem; } }

@media (min-width: 1024px) {
  .intro__image {
    float: right; } }

.intro__image img, .intro__image picture {
  width: auto;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .intro__image img, .intro__image picture {
      max-width: none; } }

.intro__button .btn {
  max-width: 315px; }
  @media (max-width: 1023px) {
    .intro__button .btn {
      margin: 0 auto; } }

.difference__list {
  padding-top: 1px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance; }
  .difference__list > .mv_20 {
    width: auto !important; }
  .difference__list li {
    padding: 1px; }
  .difference__list-item {
    position: relative;
    margin-bottom: 2.34375em;
    padding: 20px 20px 15px 20px; }
    @media (min-width: 1024px) {
      .difference__list-item {
        margin-bottom: 3.90625em;
        padding: 25px 30px 20px 30px; } }
    .difference__list-item-title {
      margin-bottom: 0.78125em;
      font-size: 1.1rem;
      font-weight: 500; }
      @media (min-width: 1024px) {
        .difference__list-item-title {
          font-size: 1.135rem;
          font-size: 1.28822rem; } }
    .difference__list-item-text {
      margin: 0;
      letter-spacing: 0.02em; }

.reviews-outer {
  margin-top: -80px; }

.reviews {
  overflow: hidden; }
  .reviews__item-outer {
    padding-top: 80px;
    padding-bottom: 80px; }
  .reviews__item-image {
    background-color: #c2b385;
    border-color: #c2b385;
    position: relative;
    display: inline-block;
    font-size: 0;
    border-width: 5px;
    border-style: solid; }
    @media (min-width: 1024px) {
      .reviews__item-image {
        border-width: 10px; } }
    .reviews__item-image:after {
      content: "";
      position: absolute;
      left: 0%;
      top: 60%;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: 50%;
      transform: scaleY(0.1);
      box-shadow: 0 350px 80px 0px rgba(0, 0, 0, 0.15); }
    .reviews__item-image:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      font-size: 1rem;
      width: 4.25em;
      height: 4.25em;
      background: #ffffff url("../images/magnifying-glass.svg") center center no-repeat;
      background-size: 2em;
      border-radius: 50%;
      opacity: 0; }
    .reviews__item-image img {
      width: auto; }
    .reviews__item-image:hover img {
      opacity: 0.3; }
    .reviews__item-image:hover:before {
      opacity: 1; }
  .owl-item .reviews__item-outer {
    width: 100%; }

.about__decor {
  color: transparent;
  display: none; }
  @media (min-width: 1024px) {
    .about__decor {
      display: block; } }
  .about__decor img {
    position: absolute;
    width: auto; }

.form-outer {
  margin-top: -10px;
  margin-bottom: -10px; }

.form__subtitle {
  line-height: 1.375em;
  font-size: 1rem;
  font-family: "GothamPro", Verdana, Arial, sans-serif;
  margin-top: -2.08333rem;
  margin-bottom: 0;
  padding-top: 1.04167rem;
  padding-bottom: 1.04167rem; }
  @media (min-width: 768px) {
    .form__subtitle {
      margin-top: -3.125rem;
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .form__subtitle {
      margin-top: -3.125rem;
      margin-bottom: 0; } }
  @media (min-width: 768px) {
    .form__subtitle {
      padding-top: 1.5625rem;
      padding-bottom: 1.5625rem; } }
  @media (min-width: 1024px) {
    .form__subtitle {
      padding-top: 1.5625rem;
      padding-bottom: 1.5625rem; } }

.form__notice {
  line-height: 1.375em;
  font-size: 1rem;
  font-family: "GothamPro", Verdana, Arial, sans-serif;
  margin-top: 1.04167rem;
  margin-bottom: -1.04167rem; }
  @media (min-width: 768px) {
    .form__notice {
      margin-top: 1.5625rem;
      margin-bottom: -1.5625rem; } }
  @media (min-width: 1024px) {
    .form__notice {
      margin-top: 1.5625rem;
      margin-bottom: -1.5625rem; } }

.form__subtitle--white {
  color: #ffffff; }

.form__notice--white {
  color: #ffffff; }

.field-outer {
  margin-top: 10px;
  margin-bottom: 10px; }

.request__image {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  margin-top: 0;
  margin-bottom: -3.125rem; }
  @media (min-width: 768px) {
    .request__image {
      margin-top: 0;
      margin-bottom: -4.6875rem; } }
  @media (min-width: 1024px) {
    .request__image {
      margin-top: 0;
      margin-bottom: -4.6875rem; } }
  @media (min-width: 768px) {
    .request__image {
      display: block; } }

input,
textarea {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.5625em;
  font-family: "Roboto", Verdana, Arial, sans-serif; }

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="password"] {
  font-size: 1.1rem;
  line-height: 1.5625em;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #c2b385;
  background-color: #ffffff;
  color: #000000;
  border-width: 2px;
  border-style: solid; }
  @media (min-width: 1024px) {
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="tel"],
    input[type="password"] {
      font-size: 1.135rem; } }
  @media (min-width: 1024px) {
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="tel"],
    input[type="password"] {
      height: 54px; } }
  input[type="text"]:placeholder,
  input[type="email"]:placeholder,
  input[type="phone"]:placeholder,
  input[type="tel"]:placeholder,
  input[type="password"]:placeholder {
    color: rgba(0, 0, 0, 0.5); }

.subcategories {
  margin-top: -10px;
  margin-bottom: -10px; }
  .subcategories__item-outer {
    margin-top: 10px;
    margin-bottom: 10px; }
  .subcategories__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-color: #f0f0f0;
    color: #000000;
    border: 2px solid #f0f0f0;
    min-height: 130px; }
    .subcategories__item:hover {
      border-color: #c2b385; }
    .subcategories__item-image {
      padding: 20px 20px;
      width: calc( 60px + 65px); }
      @media (min-width: 1024px) {
        .subcategories__item-image {
          padding: 20px 30px;
          width: calc( 60px + 80px); } }
      .subcategories__item-image img {
        box-sizing: content-box;
        margin: 0 auto;
        width: auto;
        max-width: 65px;
        height: auto; }
        @media (min-width: 1024px) {
          .subcategories__item-image img {
            max-width: 80px; } }
    .subcategories__item-title {
      font-size: 1rem;
      line-height: 1.5625em;
      padding-left: 16px;
      padding-right: 16px;
      font-weight: 500;
      text-align: center;
      text-align: left;
      color: inherit; }
      @media (min-width: 1024px) {
        .subcategories__item-title {
          padding-left: 20px;
          padding-right: 20px; } }

/* . features
 * **********************************************************************
 *
*/
@media (max-width: 1023px) {
  .features__item-image {
    height: 18.75rem;
    overflow: hidden; }
    .features__item-image img {
      width: auto;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); } }

@media (max-width: 767px) {
  .features__item-image {
    height: 12.5rem; } }

@media (min-width: 1024px) {
  .features__item-image img {
    width: auto;
    max-width: none;
    min-width: 50vw;
    min-height: 100%; } }

.features__item-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px; }
  @media (min-width: 768px) {
    .features__item-content {
      padding: 30px 40px; } }
  @media (min-width: 1024px) {
    .features__item-content {
      padding: 40px 60px; } }
  .features__item-content h3 {
    font-size: 1.4641rem;
    margin-top: 0;
    text-align: left; }
    @media (min-width: 1024px) {
      .features__item-content h3 {
        font-size: 1.65952rem; } }
    .features__item-content h3:after {
      left: 0;
      transform: translate(0%, -100%); }
  .features__item-content ul li {
    margin-top: 0.625em;
    margin-bottom: 0.625em; }

@media (min-width: 1024px) {
  .features__item:nth-child(even) .features__item-image {
    float: left; }
    .features__item:nth-child(even) .features__item-image img {
      float: left; }
  .features__item:nth-child(even) > .row-flex {
    flex-direction: row-reverse; }
  .features__item:nth-child(odd) .features__item-image {
    float: right; }
    .features__item:nth-child(odd) .features__item-image img {
      float: right; } }

/* 0. General Vars, Mixins, Extends
 *
 *
*/
.collapse {
  padding-left: 0;
  padding-right: 0; }
  .collapse > .row {
    margin-left: 0;
    margin-right: 0; }
    .collapse > .row > [class*="mv"] {
      padding-left: 0;
      padding-right: 0; }

[class*=row].collapse {
  margin-left: 0;
  margin-right: 0; }
  [class*=row].collapse > [class*="mv"] {
    padding-left: 0;
    padding-right: 0; }

.section {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }
  @media (min-width: 768px) {
    .section {
      padding-top: 4.6875rem;
      padding-bottom: 4.6875rem; } }
  @media (min-width: 1024px) {
    .section {
      padding-top: 4.6875rem;
      padding-bottom: 4.6875rem; } }

/* 1. Header
 * **********************************************************************
 *  
*/
.header {
  padding: 1.5625em 0; }

.header-top {
  text-align: center; }

.logo img {
  width: auto;
  max-width: 100%;
  height: auto; }

/* media end */
/* 2. Menu main
 * **********************************************************************
 *
*/
.menu-control {
  display: none; }

.menu-main li {
  display: inline-block; }
  .menu-main li:last-child {
    margin-right: 0; }
  .menu-main li a {
    display: block; }

/* 3. Slider
 * **********************************************************************
 *
*/
.slider-outer .slider,
.section-slider .slider {
  width: 100%;
  height: 100vh; }

/*
{
    "menu-class": "menu-main",
    "menu-items": [
        { "menu-items-name": "Об агентстве" },
        { "menu-items-name": "Представительство в судах" },

        { "menu-items-name": "Допуски СРО" },
        { "menu-items-name": "Лицензирование" },
        { "menu-items-name": "Регистрация и ликвидация" }
    ]
    
}
*/
/* 5. intro
 * **********************************************************************
 *
*/
.section-intro {
  padding-bottom: 100px;
  border-bottom: 1px solid #000000; }
  @media (min-width: 1024px) {
    .section-intro .title, .section-intro .features__item-content h3, .features__item-content .section-intro h3 {
      display: inline-block;
      text-align: left; } }

/* 9. about
 * **********************************************************************
 *
*/
.section-about {
  padding-bottom: 30px; }
  @media (min-width: 1024px) {
    .section-about {
      padding-bottom: 60px; } }

.home .section-about {
  background-color: #f5f5f5;
  color: #000000; }

/* 12. subcategories
 * **********************************************************************
 *
*/
/*
.section-subcategories {
    // padding-top: 2*$margin_v_medium;
    // padding-bottom: $margin_v_small;
    padding: $margin_v_medium  0;

    @media (min-width: 768px) {
        // padding-top: $margin_v_medium;
        // padding-bottom: $margin_v_medium;
        padding: $margin_v_big  0;
    }  
    @media (min-width: 1024px) {
        // padding-top: $margin_v_big;
        // padding-bottom: $margin_v_big;

        padding: 2*$margin_v_medium  0;
    }          
}
*/
/* 8. reviews
 * **********************************************************************
 *
*/
/* 13. top_block
 * **********************************************************************
 *
*/
.section-features {
  overflow: hidden;
  padding-top: -0px;
  padding-bottom: 0px; }

.section-form {
  border-top: 1px solid #000000; }
  .section-form .bg-grey {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem; }
    @media (min-width: 768px) {
      .section-form .bg-grey {
        padding-top: 4.6875rem;
        padding-bottom: 4.6875rem; } }
    @media (min-width: 1024px) {
      .section-form .bg-grey {
        padding-top: 4.6875rem;
        padding-bottom: 4.6875rem; } }
  .section-form .btn-more {
    margin-top: -1.04167rem;
    margin-bottom: 1.04167rem;
    max-width: 200px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .section-form .btn-more {
        margin-top: -1.5625rem;
        margin-bottom: 1.5625rem; } }
    @media (min-width: 1024px) {
      .section-form .btn-more {
        margin-top: -1.5625rem;
        margin-bottom: 1.5625rem; } }

.section-form--request {
  padding-bottom: 0; }

.section-form--consultation {
  background: #fff url() 0 0 no-repeat;
  text-align: center;
  background: url("../images/section-request-bg.jpg") 0 0 no-repeat;
  background-size: cover; }
  @media (min-width: 1024px) {
    .section-form--consultation {
      background: url("../images/section-request-bg.jpg") 0 0 no-repeat;
      background-size: cover; } }

/* B. Plugins
 * **********************************************************************
 *
*/
/* B. Plugins
 * **********************************************************************
 *
*/
/* Owl-carousel */
body .owl-prev,
body .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: auto;
  height: auto;
  font-size: 0; }
  body .owl-prev:before,
  body .owl-next:before {
    font-size: 2rem; }
  body .owl-prev span,
  body .owl-next span {
    display: none; }

body .owl-prev {
  left: 0;
  right: auto; }
  body .owl-prev:before {
    transform: rotate(90deg); }

body .owl-next {
  left: auto;
  right: 0; }
  body .owl-next:before {
    transform: rotate(-90deg); }

body .owl-prev:hover:before,
body .owl-next:hover:before {
  color: #c2b385; }

/* ?. ?
 * **********************************************************************
 *
*/
@media (min-width: 1024px) {
  .image_molotok-outer {
    float: right !important; } }

.image_molotok img {
  margin: 0 auto;
  width: auto; }

@media (min-width: 1024px) {
  .image_molotok {
    position: relative;
    top: -30px; } }

/*# sourceMappingURL=style.css.map */
