@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *  2. Menu main
 *  3. Slider
 *  4. 

 *  14.
 *
 */

@import 'mwgrid';
@import 'fonts'; //
@import 'svgfontstyle'; //
@import 'libs'; //
@import '../fonts/dist/flaticons/_flaticon'; //
@import 'base'; //
@import 'media'; //

// @import 'hamburgers/hamburgers'; //

@import 'components';     //


/* 0. General Vars, Mixins, Extends
 *
 *
*/
.collapse{
    
    padding-left: 0; padding-right: 0;
    &>.row{
        margin-left: 0; margin-right: 0;    
        &>[class*="mv"]{
            padding-left: 0; padding-right: 0;
        }
    }
}

[class*=row].collapse{

    margin-left: 0; margin-right: 0;    
    &>[class*="mv"]{
        padding-left: 0; padding-right: 0;
    }
}



/* 1. Header
 * **********************************************************************
 *  
*/

.header{
    padding: 1*$l_h  0;

}
.header-top{
    text-align: center;
}
.logo{

    img{
        width: auto; max-width: 100%; height: auto;
    }
}


@media (max-width: 768px) {
   
    
} /* media end */



/* 2. Menu main
 * **********************************************************************
 *
*/  

.menu-main-outer{
}
.menu-control{
    display: none;
}
.menu-main{
}
    .menu-main li{
        display: inline-block;
        
        &:last-child{
            margin-right: 0;
        }
        a{
            display: block;

            &:hover{

            }
        }
    }


/* 3. Slider
 * **********************************************************************
 *
*/  

.slider-outer,
.section-slider{

    .slider{
        width: 100%; 
        height: 100vh;
    }
}

/*
{
    "menu-class": "menu-main",
    "menu-items": [
        { "menu-items-name": "Об агентстве" },
        { "menu-items-name": "Представительство в судах" },

        { "menu-items-name": "Допуски СРО" },
        { "menu-items-name": "Лицензирование" },
        { "menu-items-name": "Регистрация и ликвидация" }
    ]
    
}
*/


/* 5. intro
 * **********************************************************************
 *
*/

.section-intro {
// TEMP:
padding-bottom: 100px;
border-bottom: 1px solid $text;

    .title {
        @media (min-width: #{map-get($devices, 'ds_')}px) {
            display: inline-block;
            text-align: left;
        }  
    }
}


/* 9. about
 * **********************************************************************
 *
*/

.section-about {
    
    padding-bottom: $margin_v;
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        padding-bottom: $margin_v_big;
    }     
}
.home .section-about {
    @include color_scheme('grey');
}


/* 12. subcategories
 * **********************************************************************
 *
*/

.section-subcategories {
    // padding-top: 2*$margin_v_medium;
    // padding-bottom: $margin_v_small;
    padding: $margin_v_medium  0;

    @media (min-width: #{map-get($devices, 'tb_')}px) {
        // padding-top: $margin_v_medium;
        // padding-bottom: $margin_v_medium;
        padding: $margin_v_big  0;
    }  
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        // padding-top: $margin_v_big;
        // padding-bottom: $margin_v_big;

        padding: 2*$margin_v_medium  0;
    }          
}







/* B. Plugins
 * **********************************************************************
 *
*/

/* Owl-carousel */

body .owl-prev, 
body .owl-next {
    @extend .fi;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    // width: 15px;
    // height: 30px;
    width: auto;
    height: auto;    
    font-size: 0;

    &:before {
        @extend %transition;        
        @extend .flaticon-down-arrow;
        font-size: 2*$fb;
    }
    span {
        display: none;
    }
    
}

body .owl-prev {
    left : 0; right : auto;
    &:before {
        transform: rotate(90deg);
    }    
}
body .owl-next {
    left : auto; right : 0;
    &:before {
        transform: rotate(-90deg);
    }    
}

body .owl-prev, 
body .owl-next {

    &:hover {
        &:before {
            color: $accent;
        }
    }    
}