@charset 'utf-8';
/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *      1.1. header
 *      1.2. menu-main
 *      1.3. top-menu
 *      1.4. search
 *      1.5. language
 *      1.6. contacts
 *  2. services
 *  3. offers
 *  4. intro
 *  5. difference
 *  6. reviews
 *  7. about
 *  8. news
 *  9. form
 *  10. subcategories
 *  11. features
 *  12. actions
 *  13. definitions
 *  14. sertificates
 *  15. steps
 *  16. advantages
 *  17. tarifs
 *  18. footer
 *  19. modals
 *  A. JS.
 *  B. Plugins
 *      B.1 Owl-carousel
 *  C. Decor
 *
 */

@import 'mwgrid';
@import 'fonts'; //
@import 'svgfontstyle'; //
@import 'libs'; //
@import '../fonts/dist/flaticons/_flaticon'; // ?
@import '../fonts/ukresult/styles'; // ?
@import 'base'; //
@import 'media'; //
@import 'components'; //
/* 0. General Vars, Mixins, Extends
 *
 *
*/

.collapse {
    padding-left: 0;
    padding-right: 0;
    & > .row {
        margin-left: 0;
        margin-right: 0;
        & > [class*="mv"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

[class*=row].collapse {
    margin-left: 0;
    margin-right: 0;
    & > [class*="mv"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.mobile_collapse {
    @media (max-width: #{map-get($devices, 'tb_')-1}px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.section {
    @include v_rhytm('section', $l_h_base);
}

.container, .container-elastic {
    min-width: 300px;
}

/* 1. Header
 * **********************************************************************
 *
*/

.header {}

/* top */

.header-top {
    @include color_scheme('dark');
    padding: 12px 0;
    text-align: center;
    @media (min-width: #{map-get($devices, 'tb_')}px) {
        padding: 1/2*$margin_v_small 0;
    }
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        @include color_scheme('default');
        border-bottom: 2px solid $border_color;
    }
    .btn-mini {
        max-width: 150px;
    }
    .menu-main-trigger {
        i {
            width: $l_h_base;
            height: $l_h_base;
            color: $accent;
            &:before {
                @include font_size('h1'); // ukresult
                color: inherit;
            }
        } // Смена иконок Hamburger/Close
        i:first-child {
            display: block;
        }
        i:last-child {
            display: none;
        }
        &.active {
            i:first-child {
                display: none;
            }
            i:last-child {
                display: block;
            }
        }
    }
}

.oldversion {
    @include font_size('small');
    @include typo('notice');
    @include color_scheme('default');
    text-decoration: underline;
}

/* middle */

.header-middle {
    @extend %transition;
    @include v_padding(0.8*$l_h_base, 0.8*$l_h_base);
    @include color_scheme('dark');
    position: absolute;
    z-index: $zindex_modal;
    width: 100%;
    @media (max-width: #{map-get($devices, 'ds_')-1}px) {
        transform: translateX(-100%);
        padding-bottom: 1.5*$l_h_base;
        &.active {
            transform: translateX(0%);
        }
    }
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        position: static;
        display: block;
        @include color_scheme('default');
    }
    .btn-mini {
        max-width: 150px;
    }
}

.logo-outer {
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        width: auto;
    }
}

.logo {
    // display: none;
    @media (max-width: #{map-get($devices, 'ds_')-1}px) {
        padding: 1*$l_h_base 0;
    }
    img {
        width: auto;
        max-width: 100%;
        height: auto;
        @media (max-width: #{map-get($devices, 'tb_')-1}px) {
            margin: 0 auto;
            max-height: 4*$l_h_base;
        }
    }
}

.header__v_separator {
    display: none;
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        display: block;
        width: 2px;
        height: 70px;
        background-color: $border_color;
    }
}

/* bottom */

.header-bottom {
    @include color_scheme('accent-reverse');
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        @include color_scheme('dark');
    }
    .menu-trigger {
        .btn {
            @include color_scheme('accent-reverse');
        }
    }
    .menu-top-mobile-outer {
        @extend %transition;
        @media (max-width: #{map-get($devices, 'tb_')-1}px) {
            height: 0;
            overflow: hidden;
            position: absolute;
            z-index: $zindex_nav;
            left: 0;
            width: 100%;
        }
    }
    .menu-top-mobile-outer.active {
        @extend %transition;
        @media (max-width: #{map-get($devices, 'tb_')-1}px) {
            height: auto;
        }
    }
}

/* 1.2. Menu main
 * **********************************************************************
*/

// /components/menu-main.scss
/* 1.3. top-menu
 * **********************************************************************
*/

// /components/top-menu.scss
/* 1.4. search
 * **********************************************************************
*/

// /components/search.scss
/* 1.5. language
 * **********************************************************************
*/

// /components/language.scss
/* 1.6. contacts
 * **********************************************************************
*/

// /components/contacts.scss
/* 2. services
 * **********************************************************************
 *
*/

// /components/services.scss
/* 3. offers
 * **********************************************************************
 *
*/

// /components/offers.scss
/* 4. intro
 * **********************************************************************
 *
*/

// /components/intro.scss
.section-intro {
    .title {
        @media (min-width: #{map-get($devices, 'ds_')}px) {
            display: inline-block;
            text-align: left;
        }
    }
}

/* 5. difference
 * **********************************************************************
 *
*/

// /components/difference.scss
/* 6. reviews
 * **********************************************************************
 *
*/

// /components/reviews.scss
/* 7. about
 * **********************************************************************
 *
*/

// /components/about.scss
.home .section-about {
    @include color_scheme('grey');
}

/* 8. news
 * **********************************************************************
 *
*/

// /components/news.scss
/* 9. form
 * **********************************************************************
 *
*/

// /components/form.scss
/* . forms
 * **********************************************************************
 *
*/

.section-form {
    .bg-grey {
        @include v_rhytm('section', $l_h);
    }
    .btn-more {
        @include v_margin(-1*$l_h_base, 1*$l_h_base); // подтянули к верху
        max-width: 200px;
        margin: 0 auto;
    }
}

.section-form--request {
    padding-bottom: 0;
}

.section-form--consultation {
    @include set_bg_adaptive('../images/section-request-bg', 1024, 'jpg');
    background-size: cover;
    text-align: center;
}

.section-form--sro {
    @include set_bg_adaptive('../images/section-form-sro-bg', 1024, 'jpg');
    background-size: cover;
}

/* 10. subcategories
 * **********************************************************************
 *
*/

// /components/subcategories.scss
/* 11. features
 * **********************************************************************
 *
*/

// /components/features.scss
.section-features {
    overflow: hidden;
    @include v_rhytm('section-collapse', $l_h);
}

/* 12. actions
 * **********************************************************************
 *
*/

// /components/actions.scss
.section-actions {
    overflow: hidden;
    padding-bottom: 0;
}

/* 13. definitions
 * **********************************************************************
 *
*/

// /components/definitions.scss
.section-definitions {
    overflow: hidden;
    @include v_rhytm('section', $l_h);
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        padding-top: 6*$l_h_base;
    }
}

/* 14. sertificates
 * **********************************************************************
 *
*/

// /components/sertificates.scss
/* 15. steps
 * **********************************************************************
 *
*/

// /components/steps.scss
/* 16. advantages
 * **********************************************************************
 *
*/

// /components/advantages.scss
.section-advantages {
    overflow: hidden;
}

/* 18. footer
 * **********************************************************************
 *
*/

// /components/footer.scss
.footer {
    @include color_scheme('dark');
    @include v_rhytm('section-collapse', $l_h);
}

.footer-top {
    @extend %footer-border;
    @include v_padding(1.5*$l_h_base, 1.5*$l_h_base);
    .logo {
        .logo__image {
            img {
                @media (min-width: #{map-get($devices, 'tb_')}px) {
                    margin: 0 auto;
                }
            }
        }
    }
}

.footer-middle {
    @include v_padding(2*$l_h_base, 2*$l_h_base);
    @extend %footer-border;
}

.menu-footer {
    column-count: 3;
    column-gap: 1/12*100%;
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        column-count: 4;
    }
    > li {
        margin-bottom: $l_h;
        > a {
            @extend %footer__title;
        }
        .sub-menu {
            display: block;
            li {
                display: block;
                padding: 1/2*$l_h 0;
                @include font_size('small');
                @include height_leveling('text-compressed');
                a {
                    @include typo('notice');
                    @include color_scheme('dark');
                    &:hover {
                        @include color_scheme('accent');
                    }
                }
            }
        }
    }
}

.footer-bottom {
    @include v_padding(1/2*$l_h_base, 1/2*$l_h_base);
}

.copyrights {
    @include font_size('smaller');
    @include typo('notice');
    @include color_scheme('dark');
}

/* 19. modals
 * **********************************************************************
 *
*/

// /components/modals.scss
/* A. JS
 * **********************************************************************
 *
*/

.js-modal {
    display: none;
}

/* B. Plugins
 * **********************************************************************
 *
*/

// /components/plugins.scss
/* C. Decor
 * **********************************************************************
 *
*/

/* molotok */

.image_molotok-outer {
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        float: right !important;
    }
}

.image_molotok {
    img {
        margin: 0 auto;
        width: auto;
    }
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        position: relative;
        top: -30px;
    }
}

/* preloader */

.preloader {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    background-color: #ffffff;
}

.preloader img {
    position: relative;
    z-index: 10002; // position: absolute; top: 50%; left: 50%;
    // transform: translate;
    margin: auto;
    width: auto;
}

.preloader svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    width: 200px;
    height: 200px;
    opacity: 0.5;
}
