@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *  2. Menu main
 *  3. Slider
 *  4. 

 *  14.
 *
 */

@import 'mwgrid';
@import 'fonts'; //
@import 'svgfontstyle'; //
@import 'libs'; //
@import '../fonts/dist/flaticons/_flaticon'; //
@import 'base'; //
@import 'media'; //

// @import 'hamburgers/hamburgers'; //

@import 'components';     //


/* 0. General Vars, Mixins, Extends
 *
 *
*/
.collapse{
    
    padding-left: 0; padding-right: 0;
    &>.row{
        margin-left: 0; margin-right: 0;    
        &>[class*="mv"]{
            padding-left: 0; padding-right: 0;
        }
    }
}

[class*=row].collapse{

    margin-left: 0; margin-right: 0;    
    &>[class*="mv"]{
        padding-left: 0; padding-right: 0;
    }
}

.section {
    // padding-top: 2*$l_h_base;
    // padding-top: 3*$l_h_base;

    // @include v_padding(3*$l_h_base, 3*$l_h_base);
    @include v_rhytm('section', $l_h_base);


}
.section {
    
    .title {
        // margin-top: - 1*$l_h_base;
        // @include v_margin(-1*$l_h_base, 2*$l_h_base);

    }
}


/* 1. Header
 * **********************************************************************
 *  
*/

.header{
    padding: 1*$l_h  0;

}
.header-top{
    text-align: center;

    padding: 12px 0;
    border-bottom: 2px solid $black_light;    

    @media (min-width: #{map-get($devices, 'tb_')}px) {
        padding: 1/2*$margin_v_small  0;
        // border-bottom: 2px solid $border_color;
    }
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        border-bottom: 2px solid $border_color;
    }

}

.oldversion {
    @include font_size('small');
    @include typo('notice');
    @include color_scheme('default');
    text-decoration: underline;
}

.logo{

    img{
        width: auto; max-width: 100%; height: auto;
    }
}

.header-middle {

}

.header-bottom {
    @include color_scheme('accent-reverse');
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        @include color_scheme('dark');
    }

    .menu-trigger {
        .btn {
            @include color_scheme('accent-reverse');
        }
    }
}
/* 
     <!--
     {{#sub-menu}}
     <ul class="sub-menu">
         <li><a href="#">{{sub-menu-item-name}}</a></li>
     </ul>
     {{/sub-menu}}
 -->
*/     
@media (max-width: 768px) {
   
    
} /* media end */



/* 2. Menu main
 * **********************************************************************
 *
*/  



/* 3. Slider
 * **********************************************************************
 *
*/  

.slider-outer,
.section-slider{

    .slider{
        width: 100%; 
        height: 100vh;
    }
}

/*
{
    "menu-class": "menu-main",
    "menu-items": [
        { "menu-items-name": "Об агентстве" },
        { "menu-items-name": "Представительство в судах" },

        { "menu-items-name": "Допуски СРО" },
        { "menu-items-name": "Лицензирование" },
        { "menu-items-name": "Регистрация и ликвидация" }
    ]
    
}
*/


/* 5. intro
 * **********************************************************************
 *
*/

.section-intro {
// TEMP:
padding-bottom: 100px;
border-bottom: 1px solid $text;

    .title {
        @media (min-width: #{map-get($devices, 'ds_')}px) {
            display: inline-block;
            text-align: left;
        }  
    }
}


/* 9. about
 * **********************************************************************
 *
*/

.section-about {
    
    padding-bottom: $margin_v;
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        padding-bottom: $margin_v_big;
    }     
}
.home .section-about {
    @include color_scheme('grey');
}


/* 12. subcategories
 * **********************************************************************
 *
*/

/*
.section-subcategories {
    // padding-top: 2*$margin_v_medium;
    // padding-bottom: $margin_v_small;
    padding: $margin_v_medium  0;

    @media (min-width: #{map-get($devices, 'tb_')}px) {
        // padding-top: $margin_v_medium;
        // padding-bottom: $margin_v_medium;
        padding: $margin_v_big  0;
    }  
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        // padding-top: $margin_v_big;
        // padding-bottom: $margin_v_big;

        padding: 2*$margin_v_medium  0;
    }          
}
*/

/* 8. reviews
 * **********************************************************************
 *
*/

.section-reviews {
    
    // padding-bottom: $margin_v_big;
}


/* 13. top_block
 * **********************************************************************
 *
*/

.section-features {
    
    overflow: hidden;
    @include v_rhytm('section-collapse', $l_h);
}





.section-form {
    border-top: 1px solid $text;

    .bg-grey {
        @include v_rhytm('section', $l_h);
    }

    .btn-more {
        @include v_margin(-1*$l_h_base, 1*$l_h_base);
        max-width: 200px;
        margin: 0 auto;
    }
   
}
.section-form--request {
    padding-bottom: 0;
}

.section-form--consultation {

    background: #fff url() 0 0 no-repeat;

    text-align: center;
    // padding-top: $margin_v;
    // padding-bottom: $margin_v;
    background: url('../images/section-request-bg.jpg') 0 0 no-repeat;
    background-size: cover;

    @media (min-width: #{map-get($devices, 'ds_')}px) {
        // padding-bottom: $margin_v_medium;   
        background: url('../images/section-request-bg.jpg') 0 0 no-repeat;
        background-size: cover;   
    }
}


/* . actions
 * **********************************************************************
 *
*/

.section-actions {
    
    overflow: hidden;
    // @include v_rhytm('section-collapse', $l_h);
    padding-bottom: 0;
    
}

.section-definitions {
    
    overflow: hidden;
    @include v_rhytm('section', $l_h);

    @media (min-width: #{map-get($devices, 'ds_')}px) {
        padding-top: 6*$l_h_base;
    }  
    
}





/* B. Plugins
 * **********************************************************************
 *
*/


/* B. Plugins
 * **********************************************************************
 *
*/

/* Owl-carousel */

body .owl-prev, 
body .owl-next {
    @extend .fi;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    // width: 15px;
    // height: 30px;
    width: auto;
    height: auto;    
    font-size: 0;

    &:before {
        @extend %transition;        
        @extend .flaticon-down-arrow;
        font-size: 2*$fb;
    }
    span {
        display: none;
    }
    
}

body .owl-prev {
    left : 0; right : auto;
    &:before {
        transform: rotate(90deg);
    }    
}
body .owl-next {
    left : auto; right : 0;
    &:before {
        transform: rotate(-90deg);
    }    
}

body .owl-prev, 
body .owl-next {

    &:hover {
        &:before {
            color: $accent;
        }
    }    
}



/* ?. ?
 * **********************************************************************
 *
*/


.image_molotok-outer {
    @media (min-width: #{map-get($devices, 'ds_')}px) {
        float: right !important;
    }      
}
.image_molotok { 

    img {
        margin: 0 auto;
        width: auto;
    }   

    @media (min-width: #{map-get($devices, 'ds_')}px) {
        position: relative; top:-30px;
    }      
}
