    <div class="container-elastic actions-bg">

        <div class="container actions">
            <div class="mv_24 tb_12 tb_offset_12 ds_12 ds_offset_12 centered tb_lefted">
                <div class="actions__item">
                    <div class="actions__item-title">Вышел новый закон по СРО</div>
                    <div class="actions__item-subtitle">Изменились условия вступления!</div>
                    <div class="actions__item-button">
                        <a href="#" class="btn btn-cta">Узнать подробнее</a>
                    </div>    
                </div>
            </div>
        </div>

    </div>