        <div class="row top advantages">
            
            <div class="mv_24 tb_16 tb_offset_4 ds_12 ds_offset_0 advantages__item-outer">
                <div class="advantages__item">
                    <div class="advantages__item-icon">
                        <i class="fi flaticon-add"></i>
                    </div>
                    <div class="advantages__item-text">
                        <div class="advantages__item-text-inner">Согласно последним исследованиям, 
                            рекламоноситель создает социометрический 
                            рекламный клаттер</div>
                    </div>

                </div>
            </div>

            <div class="mv_24 tb_16 tb_offset_4 ds_12 ds_offset_0 advantages__item-outer">
                <div class="advantages__item">
                    <div class="advantages__item-icon">
                        <i class="fi flaticon-support"></i>
                    </div>
                    <div class="advantages__item-text">
                        <div class="advantages__item-text-inner">Полный комплекс услуг по оформлению допуска: 
                            от регистрации компании до оформления 
                            допуска на опасные работы</div>
                    </div>

                </div>
            </div>

            <div class="mv_24 tb_16 tb_offset_4 ds_12 ds_offset_0 advantages__item-outer">
                <div class="advantages__item">
                    <div class="advantages__item-icon">
                        <i class="fi flaticon-plus"></i>
                    </div>
                    <div class="advantages__item-text">
                        <div class="advantages__item-text-inner">Внесение в 3 реестра членов саморегулируемых организация - гарантия надежности СРО</div>
                    </div>

                </div>
            </div>  


            <div class="mv_24 tb_16 tb_offset_4 ds_12 ds_offset_0 advantages__item-outer">
                <div class="advantages__item">
                    <div class="advantages__item-icon">
                        <i class="fi flaticon-money"></i>
                    </div>
                    <div class="advantages__item-text">
                        <div class="advantages__item-text-inner">Самые выгодные условия вступления в СРО в Приморском крае!</div>
                    </div>

                </div>
            </div> 

            <div class="mv_24 tb_16 tb_offset_4 ds_12 ds_offset_0 advantages__item-outer">
                <div class="advantages__item">
                    <div class="advantages__item-icon">
                        <i class="fi flaticon-locked"></i>
                    </div>
                    <div class="advantages__item-text">
                        <div class="advantages__item-text-inner">Ваши конфиденциальные данные никогда не попадут в третьи руки - Ваши интересы в СРО представляем мы</div>
                    </div>

                </div>
            </div>

            <div class="mv_24 tb_16 tb_offset_4 ds_12 ds_offset_0 advantages__item-outer">
                <div class="advantages__item">
                    <div class="advantages__item-icon">
                        <i class="fi flaticon-stopwatch"></i>
                    </div>
                    <div class="advantages__item-text">
                        <div class="advantages__item-text-inner">Срочное оформление допуска за 1 рабочий день - сегодня Вы оплачиваете взносы, а завтра получаете скан допуска</div>
                    </div>

                </div>
            </div>          
        </div>