
        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <a href="#" class="btn btn-more">Узнайте больше</a>
            </div>                 
        </div> 

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3 ">
                <h2 class="title title-white">получите бесплатную консультацию</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <div class="form__subtitle form__notice--white">Заполните форму и наш менеджер свяжется с вами в течение 10 минут</div>
            </div>                 
        </div>  


        <div class="row consultation">
            <div class="mv_24 tb_24 ds_18 ds_offset_3 form-outer">

                {{> components/_form--consultation }}

            </div>
        </div>

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <div class="form__notice form__notice--white">Нам доверяют больше <b>500 клиентов</b></div>
            </div>                 
        </div>        

 