        <div class="row-flex  definitions">
            <div class="mv_24 tb_16 ds_12 collapse">
                <div class="definitions__text">
                    <p>СРО (саморегулируемая организация) – это некоммерческое партнерство, которое создается представителями той или иной профессиональной отрасли. Основная цель существования СРО – снизить государственный контроль в сфере регулирования коммерческой деятельности и возложить полномочия по надзору на самих участников рынка. Так, в строительных, проектировочных и изыскательных СРО ответственность распределяется между всеми членами саморегулируемой организации.</p>

                    <p><strong>Вступление в СРО является обязательным для компаний и ИП, работающих в сфере строительства, изыскания и архитектурно-строительного проектирования.</strong></p>
                </div>
            </div>
            <div class="mv_24 tb_8 ds_12">
                <div class="definitions__image">
                    <picture>
                        <source media="(max-width: 1023px)" srcset="uploads/img-sro-pemitting-people.png">
                        <source media="(max-width: 1920px)" srcset="uploads/img-sro-pemitting-people.png">
                    
                        <img src="uploads/img-sro-pemitting-people.png">                         
                    </picture>                    
                </div>
            </div>     
            
        </div>