    <div class="container collapse">

        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-4.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Сколько стоит оформление допуска СРО?</h3>
                            <p>Точная стоимость вступления в СРО зависит от многих факторов: максимальной суммы ген. подряда, видов работ и типа СРО. Во Владивостоке мы предлагаем наиболее выгодные условия вступления:</p>
                            <table>
                                <tr>
                                    <td>Страховка</td>
                                    <td>От 5 000 руб.</td>
                                </tr>
                                <tr>
                                    <td>Скан вступления в СРО</td>
                                    <td>за 24 часа (после оплаты)</td>
                                </tr>
                                <tr>
                                    <td>Персональный менеджер</td>
                                    <td>Бесплатно!</td>
                                </tr>
                                <tr>
                                    <td>Материально-техническая база</td>
                                    <td>Бесплатно!</td>
                                </tr>
                                <tr>
                                    <td>Вступительный взнос</td>
                                    <td>от 5 000 руб.</td>
                                </tr>
                                <tr>
                                    <td>Членские взносы</td>
                                    <td>от 5 000 руб./месяц</td>
                                </tr>
                                <tr>
                                    <td>Компенсационный фонд</td>
                                    <td>Первый платеж от 50 000 руб.</td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features__item">
            <div class="row-flex collapse">

                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-5.jpg" alt="">
                    </div>
                </div>

                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Для чего нужно вступать в СРО?</h3>
                            <p>С 2010 года компании, занимающиеся строительными, проектировочными и изыскательными работами, обязаны вступить в саморегулируемую организацию, чтобы и дальше иметь возможность заниматься коммерческой деятельностью.
                            </p>
                            <p>Без допуска к СРО Вы не сможете:</p>
                            <ul>
                                <li>Принимать участие в государственных аукционах;</li>
                                <li>Получать субподряды на крупных объектах;</li>
                                <li>Осуществлять работы на законных основаниях.</li>
                             
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-6.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Риски при вступлении в СРО</h3>
                            <p>Законодательством Российской Федерации не предусмотрен возврат средств, внесенных в компенсационный фонд в случае выхода из саморегулируемой организации, поэтому к выбору СРО нужно подойти основательно.

                            <br>При вступлении в СРО необходимо уточнить, будет ли внесена Ваша компания в реестр Ностроя.
                            <br>Если Вы собираетесь воспользоваться услугами компании – посредника, уточните, есть ли у этой организации официальная аккредитация от данного СРО.
                            <br>Многие фирмы-однодневки при проверке СРО надзорными органами просто дают Вам специалистов. Это не дает никаких гарантий — вероятность того, что Вы не пройдете проверку при таком подходе очень высока! Ведь надзорные органы будут запрашивать дополнительные документы на данных специалистов.
                            <br>При вступлении в СРО мы предоставляем проверку «под ключ» — не просто предоставляем специалистов, но и сопровождаем Вас на протяжении всего процесса.
                            <br>Для того, чтобы избежать рисков при вступлении в СРО выбирайте надежного партнера! 
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-7.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Где найти специалистов для вступления в СРО?</h3>
                            <p><strong>Основное препятствие для небольших компаний при получении допуска — отсутствие квалифицированного персонала.</strong></p>
                            <p>При вступлении в СРО у Вас должны быть специалисты по каждому из видов работ, допуск к которым Вы хотели бы получить. Если Вы будете искать специалистов самостоятельно, наем может обойтись в большую сумму денег. </p>
                            <p>Мы подберем Вам сотрудников, бесплатно предоставим материально-техническую базу и оперативно подготовим всю необходимую документацию для получения допуска СРО во Владивостоке.  </p>

                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-8.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Страхование ответственности членов СРО</h3>
                            <p>Страхование — это обязательное условие при вступлении в СРО. Если по вине подрядчика работы были выполнены некачественно или произошло обрушение здания – страховка  выполнит функцию «спасательного круга». Строительным и проектировочным компаниям, вступившим в СРО, гарантировано страхование таких рисков.
                            <br>Страховка оформляется на Вашу компанию и уберегает Вас от финансовой и профессиональной ответственности в случае ошибок, совершенных Вашими сотрудниками. В целом, вступление в саморегулируемую организацию и страхование ответственности значительно снижает Ваши риски при осуществлении строительных работ.</p>
                            <p><strong>Мы подготовим для Вас необходимую документацию и поможем оформить страховку во Владивостоке в короткие сроки и без комиссий.</strong></p>


                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </div>  
          
    <div class="container-elastic collapse features__promo-outer">
        <div class="container">

            <div class="row">
                <div class="mv_24">
                    <h2 class="title">Вступить в СРО во Владивостоке за 1 день!</h2>
                </div>
            </div>

            <div class="row-flex bottom features__promo">
                <div class="mv_24 tb_10">
                    <div class="features__promo-image">
                        <img src="uploads/features/features-promo-image-1.png" alt="">
                    </div>    
                </div>
                <div class="mv_24 tb_14 tb_offset_0 ds_14 ds_offset_0">
                    <div class="features__promo-content content">
                        <div class="features__item-content-inner">

                            <p>ЮА «Москонсалт» оказывает полную юридическую поддержку участникам строительного рынка и помогает оформить допуск СРО в кратчайшие сроки. </p>
                            <p>С нами Вы быстро и без специальных знаний получите допуск к любым строительным работам и ген. подрядам.</p>
                            <p>
                                <strong>Как мы работаем:</strong>
                            </p>
                            <ul>
                                <li>Оставьте заявку у нас на сайте или позвоните нам;</li>
                                <li>Мы рассчитаем стоимость допуска и пришлем Вам расчет; </li>
                                <li>Мы заключаем с Вами официальный договор на выдачу допуска СРО; </li>
                                <li>Вы присылаете сканы необходимых документов нам на E-Mail;</li>
                                <li>Производите оплату членских взносов и взноса в компенсационный фонд;</li>
                                <li>Получаете допуск СРО и начинаете работать.</li>
                            </ul>
                        </div>
                        <div class="features__promo-button">
                            <a href="#" class="btn btn-order">Получить допуск СРО</a>
                        </div>

                    </div>                    
                </div>
            </div>

        </div>
    </div>


    <div class="container collapse">

        <div class="features__item features__item--cap"></div>

        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-9.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Виды строительных работ</h3>
                            <p>Компания Москонсалт уже <strong>5 лет</strong> работает в сфере получения допусков СРО на выполнение строительных, проектировочных и изыскательных работ, которые включены в перечень видов работ обязательного участия в СРО. Перечень утвержден Министерством регионального развития Российской Федерации — Приказом №624 от 30.06.2009. </p>
                            <p><strong>Например, вступить в СРО необходимо при выполнении следующих работ:</strong></p>
                            <ul>
                                <li>Проектирование и строительство котельных;</li>
                                <li>Различные виды инженерных изысканий;</li>
                                <li> Подготовка ген. плана земельного участка;</li>
                                <li>Выдача энергетического паспорта;</li>
                                <li>Монтаж систем электроснабжения на строящихся объектах.</li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </div>