        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-1.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Что входит в список наших услуг?</h3>
                            <p>Представление интересов организаций и граждан в суде&nbsp; обычно включает следующие виды работ:</p>
                            <ul>
                                <li>Изучение документов по существу рассматриваемого дела;</li>
                                <li>Изучение соответствующей правоприменительной практики;</li>
                                <li>Юридическая экспертиза перспектив рассмотрения дела в суде;</li>
                                <li>Юридическое консультирование;</li>
                                <li>Подготовка соответствующих процессуальных документов;</li>
                                <li>Участие в судебных заседаниях;</li>
                                <li>Контроль за исполнением судебных решений;</li>
                                <li>Взыскание понесенных Вами расходов с проигравшей стороны.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features__item">
            <div class="row-flex collapse">

                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-2.jpg" alt="">
                    </div>
                </div>

                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Что входит в список наших услуг?</h3>
                            <p>Представление интересов организаций и граждан в суде&nbsp; обычно включает следующие виды работ:</p>
                            <ul>
                                <li>Изучение документов по существу рассматриваемого дела;</li>
                                <li>Изучение соответствующей правоприменительной практики;</li>
                             
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="features__item">
            <div class="row-flex collapse">
                <div class="mv_24 ds_12">
                    <div class="features__item-image">
                        <img src="uploads/features/features-item-image-3.jpg" alt="">
                    </div>
                </div>
                <div class="mv_24 ds_12">
                    <div class="features__item-content content">
                        <div class="features__item-content-inner">

                            <h3 class="h2">Туристические сертификаты</h3>
                            <p>Представление интересов организаций и граждан в суде&nbsp; обычно включает следующие виды работ:</p>
                            <ul>
                                <li>Изучение документов по существу рассматриваемого дела;</li>
                                <li>Изучение соответствующей правоприменительной практики;</li>
                                <li>Юридическая экспертиза перспектив рассмотрения дела в суде;</li>
                                <li>Юридическое консультирование;</li>
                                <li>Подготовка соответствующих процессуальных документов;</li>
                                <li>Участие в судебных заседаниях;</li>
                                <li>Контроль за исполнением судебных решений;</li>
                                <li>Взыскание понесенных Вами расходов с проигравшей стороны.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>  