    <div class="bg-grey request">
        <div class="container">
            <div class="row ">
                
                <div class="mv_24 tb_16 tb_offset_8  ds_18 ds_offset_6 form-outer">
                    {{> components/_form--request }}
                </div>
        
            </div>

            <div class="row">
                <div class="mv_24 tb_16 tb_offset_8 ds_18 ds_offset_6 ">
                    <div class="form__notice">В течение часа с Вами свяжется наш менеджер и ответит на все интересуюшие вопросы</div>
                </div>
                <div class="request__image">
                    <img src="images/section-request-girl.png" alt="">
                </div>                  
            </div>

        </div>        
    </div>