        <!--  v3  -->
        <div class="row-flex centered services ">
            <!-- <div class="mv_24 ds_20 ds_offset_2"> -->
            
            {{#services_sro}}
            <div class="mv_12 tb_6 tb_offset_0 ds_6 ds_offset_0 centered">
                <a class="services__item" href="#">
                    <div class="services__item-icon">
                        <img src="images/{{item-image}}" alt="">
                    </div>                    
                    <div class="services__item-title">
                        <span>{{item-title}}</span>
                    </div>                    
                </a>
            </div>
            {{/services_sro}}

            <!-- </div> -->

        </div>