        <div class="row-flex middle sertificates">

            <div class="mv_24 tb_10 ds_8 ds_offset_2">
                <div class="sertificates__slider owl-carousel">

                    {{#sertificates}}
                    <div class="mv_22 mv_offset_0 tb_16 tb_offset_4 ds_12 ds_offset_6 collapse sertificates__item-outer">
                        <div class="sertificates__item centered">
                            <a href="#" class="sertificates__item-image">
                                <img src="uploads/reviews/{{item-image}}" alt="{{item-title}}">
                            </a>
                        </div>
                    </div>
                    {{/sertificates}}                    

                </div>
            </div>

            <div class="mv_22 mv_offset_1 tb_12 tb_offset_2 ds_12 ds_offset_2 centered tb_lefted">
                <div class="sertificates__content row">
                    <div class="sertificates__text mv_24">
                        ЮА "Результат" оформляем для Вас <span>лицензию МЧС</span> под "ключ". В стоимость услуг входит аренда оборудования и специалистов, а также подготовка, сдача и получение документов в МЧС
                    </div>
                    <div class="sertificates__button mv_24">
                        <a href="#" class="btn btn-readmore">Получить допуск СРО</a>
                    </div>

                </div>
            </div>


        </div>