        <div class="row steps">
            
        </div>

        <div class="row-flex top steps">

            <div class="mv_24 tb_8 tb_offset_3 ds_4 ds_offset_0 steps__item-outer">
                <div class="steps__item">
                    <div class="steps__item-image">
                        <img src="images/icon-place-order.png" alt="">
                    </div>
                    <div class="steps__item-text">Оставьте заявку на получение допуска СРО</div>
                </div>
            </div>

            <div class="mv_24 tb_8 tb_offset_2 ds_4 ds_offset_0 steps__item-outer">
                <div class="steps__item">
                    <div class="steps__item-image">
                        <img src="images/icon-email.png" alt="">
                    </div>
                    <div class="steps__item-text">Пришлите сканы документов нам на E-Mail</div>
                </div>
            </div>

            <div class="mv_24 tb_8 tb_offset_3 ds_4 ds_offset_0 steps__item-outer">
                <div class="steps__item">
                    <div class="steps__item-image">
                        <img src="images/icon-access.png" alt="">
                    </div>
                    <div class="steps__item-text">Согласуйте список видов работ для включения в допуск</div>
                </div>
            </div>

            <div class="mv_24 tb_8 tb_offset_2 ds_4 ds_offset_0 steps__item-outer">
                <div class="steps__item">
                    <div class="steps__item-image">
                        <img src="images/icon-get-case.png" alt="">
                    </div>
                    <div class="steps__item-text">Получите скан допуска СРО и начинайте работать!</div>
                </div>
            </div>

        </div>