        <div class="row-flex  subcategories">

            {{#subcategories}}
            <div class="mv_22 mv_offset_1 tb_12 tb_offset_0 ds_8 subcategories__item-outer">
                <a href="#" class="subcategories__item">
                    <span class="subcategories__item-image">
                        <img src="uploads/subpages/{{item-image}}" alt="{{item-title}}">
                        <!-- <img src="uploads/subpages/011-money-1.svg" alt=""> -->
                        <!-- <img src="uploads/subpages/007-team.svg" alt=""> -->
                    </span>
                    <h3 class="subcategories__item-title">{{item-title}}</h3>
                </a>
            </div>
            {{/subcategories}}
            
        </div>