        <div class="tarifs">
            <div class="row-flex  ">
                
                {{#tarifs}}
                <div class="mv_22 mv_offset_0 tb_12 tb_offset_0 ds_6 tarifs__item-outer">
                    <div class="tarifs__item centered">
                        <div class="tarifs__item-image">
                            <img src="uploads/tarifs/tarifs-item-img-1.svg" alt="{{item-title}}">
                        </div>
                        <div class="tarifs__item-title"><span>{{item-title}}</span></div>
                        <div class="tarifs__item-price">{{item-price}}</div>
                        <div class="tarifs__item-text">{{item-text}}</div>
                    </div>
                </div>
                {{/tarifs}}
            
            </div>
        </div>