        <!--  topinfo  -->
        <div class="row row-topinfo">
            <div class="mv_24 tb_24">
                <div class="row topinfo">
                    
                    <div class="mv_24 tb_14 ds_15">
                        <div class="content">
                            <p>ЮА «Результат» предлагает услуги представительства в судах в Москве: общей юрисдикции различных инстанций, арбитражных и третейских судах. <strong>Мы обладаем богатым опытом по представлению интересов организаций и граждан в суде,
                                    помогаем подготовиться к процессу и сопровождаем его до вынесения решения, в том числе в апелляционных инстанциях</strong>.</p>
                            <p>Ежегодно представители нашей компании принимают участие в сотнях судебных заседаний во Владивостоке и других городах ДФО. Если в силу различных обстоятельств нам не удается защитить интересы клиентов в суде первой инстанции,
                                мы продолжаем защищать их в судах следующих инстанций, имеем опыт представительства интересов в Верховном суде Российской Федерации.</p>                
                        </div>                        
                    </div>

                    <div class="mv_24 tb_10 ds_9 ds_offset_0 image_molotok-outer" >

                        <div class="image_molotok">
                            <picture>
                                <source media="(max-width: 1023px)" srcset="images/img_molotok_tb.jpg">
                                <source media="(max-width: 1920px)" srcset="images/img_molotok.jpg">
                            
                                <img src="images/img_molotok.jpg">                            
                            </picture>
                        </div>
                    </div>

                    <div class="mv_24 ds_15">
                        <p>
                            <strong>На 2016 год за нашей спиной более 1000 судебных дел, решенных в пользу клиента.Защита Ваших законных прав и интересов — дело, которым должны заниматься профессионалы. Мы гарантируем профессиональный подход к урегулирования любого спора.</strong>
                        </p>                        
                    </div>

                </div>
            </div>
        </div>     